local/My workflow 2.json
{
  "createdAt": "2025-08-10T09:39:28.102Z",
  "updatedAt": "2025-08-14T16:17:33.123Z",
  "id": "eKaY9j6C5rGACOZo",
  "name": "My workflow 2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/data/shared/*.pdf",
        "options": {
          "dataPropertyName": "pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -144,
        -96
      ],
      "id": "eadc9331-f745-4da3-8dd7-b6f621a4aac9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -96
      ],
      "id": "c197e5d6-5e14-4ebb-9a03-a8a4412ee5b9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingpdf:8080/api/v1/misc/ocr-pdf",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "pdf"
            },
            {
              "name": "languages",
              "value": "por"
            },
            {
              "name": "ocrRenderType",
              "value": "sandwich"
            },
            {
              "name": "ocrType",
              "value": "force-ocr"
            },
            {
              "name": "deskew",
              "value": "true"
            },
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "cleanFinal",
              "value": "true"
            },
            {
              "name": "removeImagesAfter",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf_ocr"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        128
      ],
      "id": "58569a89-12d3-4625-94c4-97a9921b0349",
      "name": "OCR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingpdf:8080/api/v1/convert/pdf/markdown",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "markdown"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -96
      ],
      "id": "f2e7da64-0d28-4b15-af85-14d9bd92fad7",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        304,
        -96
      ],
      "id": "36666795-8388-4e23-bf35-cac0a593ca8e",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76b72965-8eba-4f8f-81c4-2b4f52e6e632",
              "name": "text",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -96
      ],
      "id": "dbbe201f-997b-45f8-850f-1ac902487849",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2292d65a-407e-44fd-b011-0c8b162888c3",
  "triggerCount": 1,
  "tags": []
}