heritage/Create content.json
{
  "updatedAt": "2025-04-10T05:16:40.000Z",
  "createdAt": "2025-01-24T08:56:53.233Z",
  "id": "9DYLTxQ5Ch9mWcKO",
  "name": "Create content",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e0653f1c-dd45-4ee8-bd6f-b7fa542e3959",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions. Before beginning, scan and identify all relevant occurrences of the topic or subject matter to ensure a comprehensive overview of the best descriptions. Use this overview to prioritize and refine responses effectively.",
        "topK": 20
      },
      "id": "b8dafdca-7b3f-4b88-8de8-9c17d6df0a89",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        200,
        20
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "60d096d7-e76e-4d62-a84c-a3b1c9621dc4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        -100
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "02e7f066-7642-48d2-893d-dbac74816db5",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "62bce7a9-a77c-4dfe-961c-457bb681ab17",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        -40
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nWhich historical site in Tavira do you want me to tell you about?",
        "options": {
          "inputPlaceholder": "Type your question..",
          "title": "Hi there! 👋"
        }
      },
      "id": "1a7d8e31-3e7e-49de-bd48-6e9f1809ace0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        40
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are a Content Creator for Heritage Navigator, an app that helps historical interested visitors discover and understand local historical sites. Your task is to create engaging, inspiring and easy understandable content for a specific historical site, targeting adult cultural travelers (45-70 years) seeking authentic experiences.\n\n# Instructions\n- The tool user_documents is your primary source for information\n- The tool Wikipedia is your secondary source for infomation, and you can use the Wikipedia tool if you don't find the information you need in the user_documents\n- Don't hallucinate.\n- Do your best to find the information you need to fullfill the task, and if you don't find the information you need it is OK to tell me that you don't have the information \n\n# Rules\n- Always use local place names in their original language and do not translate them to English. For example, use \"København\" instead of \"Copenhagen\", \"Kronborg\" instead of \"Elsinore Castle\", \"São Jorge\" instead of \"St. George\", etc.\n\n# Sections\n\n- Format the content of the sections in HTML.\n- Use paragraphs <p> to break larger texts into smaller more readable peaces\n- Use styling as <b> and <i> to make the text visually attractive and readable\n\nYou create the content in theses 4 mainsections:\n### shortDescription (max 60 characters)\n### C (60-80 words)\nBegin overview with the header <h2>Introduction</h2>\n### mainStory (700-800 words)\nBegin mainStory with the header <h2>Overview</h2>\n### academicBackground (600-800 words)\nBegin academicBackground with the header <h2>Background</> and then <h4>Historical Timeline</h4>\nList key-historical dates and events from formatted as a <ul> list like this <li><b>period</b>period-short-description as the content of Historical Timeline like this example:\n<example>\n<ul>\n    <li><b>8th-11th centuries</b> Initial Islamic settlement and fortification of the site</li>\n    <li><b>12th century</b> Construction of the main castle structure during the Almohad period</li>\n    <li><b>1242</b> Christian reconquest of Tavira and the castle by D. Paio Peres Correia</li>\n    <li><b>14th-15th centuries</b> Major renovations and strengthening of the fortifications</li>\n    <li><b>16th-17th centuries</b> Gradual transition from military to symbolic importance</li>\n    <li><b>20th century</b> Addition of current battlements and preservation work</li>\n</ul>\n</example>\n\n\ncreate your own subsections in all sections to make the content easier readable\n\n# Output\nThe outputformat is JSON with one object for each section like this:\n{ \"shortDescription\"=\"\",\"shortDescription\"=\"\",\"mainStory\"=\"\",\"academicBackground\"=\"\" }"
        }
      },
      "id": "e5f6162d-a254-45d2-a3d9-5c4d5d8bf432",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -300,
        40
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "516f1ae5-ab80-4be9-b37d-8d870c892b41",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        80,
        180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1Yc1VOr8K1yXCO1Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -220,
        260
      ],
      "id": "e1001573-c131-408e-a7c0-049990456efe",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "EzZYFEVPXxVDpNLe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -1220,
        140
      ],
      "id": "dae4d030-f298-45e6-84f8-155c72ea181a",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ADl7Wvu9YXxKvVtY",
          "name": "Anthropic account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1d15b8ba-f1b5-452b-aa29-d02f1f71d3c8",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1160,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ],
      "id": "94ee5721-db53-44a3-90c4-31899e3ced5e",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "8f1ba636-a8b7-477c-b391-0f0fbfc4e185",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1080,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -940,
        360
      ],
      "id": "473b7acc-3fa2-48b5-87d4-e7059aa99f8f",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "ADl7Wvu9YXxKvVtY",
          "name": "Anthropic account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "=perplexity/llama-3.1-sonar-large-128k-online",
        "options": {}
      },
      "id": "2432b110-984b-4bcb-9eb6-f6784ed84512",
      "name": "Openrouter Perplexity",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -940,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "7oESUrXOypaiYfq2",
          "name": "openrouter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "=anthropic/claude-3.5-sonnet:beta",
        "options": {}
      },
      "id": "346a30f3-830b-4114-aacb-8ece7dabc572",
      "name": "Openrouter Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -420,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "7oESUrXOypaiYfq2",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -700,
        540
      ],
      "id": "30b107de-c203-4aa5-a874-3297e2cd0b73",
      "name": "DeepSeek R1 Model1",
      "credentials": {
        "openAiApi": {
          "id": "g9PKNXtBTvDMq49I",
          "name": "Deepseek"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        []
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Openrouter Claude": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek R1 Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "18a44a13-2dd1-4fd8-b494-e7cef98c84b7",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-01-24T08:56:53.237Z",
      "createdAt": "2025-01-24T08:56:53.237Z",
      "role": "workflow:owner",
      "workflowId": "9DYLTxQ5Ch9mWcKO",
      "projectId": "rkqKISKa14HwF9Xd"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-01-27T04:16:13.710Z",
      "createdAt": "2025-01-27T04:16:13.710Z",
      "id": "UKDDqdJlo9qVGTuK",
      "name": "navigator"
    }
  ]
}