heritage/Create content loop.json
{
  "createdAt": "2025-04-29T03:57:26.344Z",
  "updatedAt": "2025-05-22T10:57:29.000Z",
  "id": "vQ3DJB4exIsiKQbp",
  "name": "Create content loop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select distinct site_id, city_id\nfrom site_translations t\nwhere description = 'tbd'\n -- updated_at < '2025-05-18 16:14:05.342+00'\n--and language_code = 'en'\n--and city_id = 'tavira'\n--limit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "id": "4280b812-69f6-4038-b9ff-ce9f55e2f846",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzZYFEVPXxVDpNLe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EWe9SXy0Wfs45VOF",
          "mode": "list",
          "cachedResultName": "Heritage Navigator — Create Content Agent 6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "site_id": "={{ $json.site_id }}",
            "city_id": "={{ $json.city_id }}"
          },
          "matchingColumns": [
            "site_id"
          ],
          "schema": [
            {
              "id": "site_id",
              "displayName": "site_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "city_id",
              "displayName": "city_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        0
      ],
      "id": "b320ed51-39b2-4c02-b61b-e56d124dff50",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -220
      ],
      "id": "262d4269-98f5-462a-a651-bfc3a5eb32f6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Ret bynavnet",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        -80
      ],
      "id": "cee46004-f10e-42bd-9b18-0b8e4e950cfe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "a0939eaf-2ef7-4386-ace3-e7df6694ad70",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        920,
        0
      ],
      "id": "c4c12a88-eaa4-49c1-87a5-be28b17149f0",
      "name": "Limit"
    }
  ],
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fb01a38c-d312-4b60-971d-5c6d9cda8040",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-04-29T03:57:26.348Z",
      "updatedAt": "2025-04-29T03:57:26.348Z",
      "role": "workflow:owner",
      "workflowId": "vQ3DJB4exIsiKQbp",
      "projectId": "rkqKISKa14HwF9Xd"
    }
  ],
  "tags": []
}