heritage/Tilføj indhold til RAG.json
{
  "updatedAt": "2025-02-09T16:41:18.000Z",
  "createdAt": "2025-02-05T05:38:53.402Z",
  "id": "LgIOG3NMc1Hl930C",
  "name": "Tilføj indhold til RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "880d82a5-c847-4d8f-9020-1d3fd2a5465c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        200
      ]
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.",
        "topK": 20
      },
      "id": "11ccabdb-03d4-4f8e-a88d-d9328622f6ff",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        320,
        20
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "4bb6f0a8-d89d-4969-ac6f-362285e257a8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d1de338c-50e4-4768-8208-4ee73c1d18a6",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        780
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "31ae3522-a6be-42d9-85cd-39ac672d441d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "9b6bdcfa-a724-45ae-b7db-412cbb215e87",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a Content Creator for Heritage Navigator, an app that helps culturally interested visitors discover and understand local cultural sites. Your task is to create engaging, inspiring and easy understandable content for a specific cultural site, targeting adult cultural travelers (45-70 years) seeking authentic experiences.\n\nImportant note: Always use local place names in their original language - do not translate them to English. For example, use \"København\" instead of \"Copenhagen\", \"Kronborg\" instead of \"Elsinore Castle\", \"São Jorge\" instead of \"St. George's Castle\", etc.\n\nYou create the content in theses 4 mainsections:\n### shortDescription (max 60 characters)\n### overview (80-100 words)\n### mainStory (700-800 words)\n### academicBackground (600-800 words)\n"
        }
      },
      "id": "b2512016-c3af-46b4-bca8-2b0852fb9503",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -180,
        40
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "18b1ee02-ed51-4c8e-b8cd-9a001f1fd214",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -100,
        260
      ],
      "id": "938952a3-a8d6-48ab-94b1-32d99b779967",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -1100,
        140
      ],
      "id": "20a340b5-2354-4db7-ae08-e55d23cb77c2",
      "name": "Anthropic Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4ccd9f2-8f29-464a-9a51-697139eb30c4",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -300,
        240
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        80,
        260
      ],
      "id": "c9151c6e-3093-417a-b275-ec3d4eb05158",
      "name": "Wikipedia",
      "disabled": true
    },
    {
      "parameters": {
        "model": "=openai/gpt-4o-mini",
        "options": {}
      },
      "id": "f335c472-5358-4e83-9d54-fdc39ef5023d",
      "name": "Openrouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -800,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "27711b20-2e7b-4f3b-b9dd-d7e4eae7523b",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -960,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        780
      ],
      "id": "4188ad62-6b66-4aaf-b814-42cfef83b653",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d61fa4b-1dbd-44cb-93e7-f4165f642e43",
              "name": "city_id",
              "value": "tavira",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        780
      ],
      "id": "aef3bc92-7d93-46ed-b8d7-8705a9b6171e",
      "name": "Set city_id"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "city_id",
                "value": "={{ $('Set city_id').item.json.city_id }}"
              },
              {
                "name": "file_type",
                "value": "binary"
              }
            ]
          }
        }
      },
      "id": "35203be4-340f-4c32-8d65-835c76d18d73",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        540,
        1000
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "342aebbf-4c15-4cb2-906e-1b39541608cc",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        980
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 400,
        "options": {}
      },
      "id": "447a1393-7b82-4c6c-8c1b-558053ee5076",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        580,
        1200
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "7adcfbb9-a8b9-4a46-afb1-9cd1211f6276",
      "name": "binary supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        380,
        780
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "1Yc1VOr8K1yXCO1Q",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12U_typ9QZfgkVw8PKsOAFj19OB0Z40IO",
            "mode": "list",
            "cachedResultName": "RAG Inbox",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12U_typ9QZfgkVw8PKsOAFj19OB0Z40IO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -420,
        780
      ],
      "id": "28f94a98-8ec0-435d-bf01-ded19e656d9c",
      "name": "Get RAG Inbox JSON",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download File').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
          "mode": "list",
          "cachedResultName": "RAG Storage",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1400,
        1040
      ],
      "id": "8d8da2ac-d9b2-4c82-9bb1-5602193df88d",
      "name": "Move to RAG Storage2",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1060,
        2060
      ],
      "id": "b913efcd-10e4-4ddc-a9e7-361f72cf66be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Dokumenter i pdf format om Tavira's historie",
        "topK": 40
      },
      "id": "6e22f8dd-9b41-402e-b598-0b50ea1daee9",
      "name": "Retrieve Documents1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        920,
        1840
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0f7f8f60-060c-463f-9565-88f332c6d55c",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        800,
        2140
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rolle\nDu er en hjælpsom assistent der kommunikerer med brugeren på dansk.\nDu kan afdække hvad vi har i værktøjet user_documents som er et vector store der indeholder pdf dokumenter om lokalhistorie\nFormålet er at give brugeren viden om indholdet af user_documents\n\n# Regler\nDu skal kun bruge de oplysninger der står i user_documents når du bliver spurgt om et emne. Du må ikke videregive din egen viden.\n"
        }
      },
      "id": "55d49ce8-4632-49e8-81c7-6f8d88b10ded",
      "name": "RAG AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        1580
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "1b73da67-39ac-46ff-b49d-98b3958a5d45",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        740,
        1980
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1Yc1VOr8K1yXCO1Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        1560
      ],
      "id": "6bfe8ba3-d128-45df-99e5-d5de56faf8c6",
      "name": "When chat message received",
      "webhookId": "b183bf9a-35ef-4ce3-aecd-34fbd3c9067c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        780
      ],
      "id": "beecee1f-b8e3-46f0-8772-76262bca9902",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download File').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT",
          "mode": "list",
          "cachedResultName": "RAG Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        960
      ],
      "id": "d2c8824a-e1b4-4af5-bcf6-5ed1656becb1",
      "name": "Move to RAG Unprocessed",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b8b7b6-d4b9-48e6-9a2e-60da64f7997c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        780
      ],
      "id": "416105b7-8c35-4146-a179-d17aaaefc617",
      "name": "If isempty"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        1780
      ],
      "id": "5981e2d1-e51c-4506-b5e2-6ce4ff0cdb78",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1140,
        1640
      ],
      "id": "ef133fe2-0d93-4ea9-9f79-3b7cbc39c46a",
      "name": "Deepseek-reasoner",
      "credentials": {
        "openAiApi": {
          "id": "g9PKNXtBTvDMq49I",
          "name": "Deepseek"
        }
      }
    },
    {
      "parameters": {
        "model": "=deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1300,
        1980
      ],
      "id": "ffc285c9-612e-4104-a2c9-949475eb1fbe",
      "name": "Deepseek-chat",
      "credentials": {
        "openAiApi": {
          "id": "g9PKNXtBTvDMq49I",
          "name": "Deepseek"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "ee7889b9-2d6c-4b2e-9e7e-4450d892a91b",
      "name": "Embeddings OpenAI4",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        2220
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "user_documents",
        "toolDescription": "Dokumenter i pdf format om Tavira's historie",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {}
      },
      "id": "0665a8fb-00fe-48e5-b332-ceb22c7183b1",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        400,
        2060
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1Yc1VOr8K1yXCO1Q",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        1980
      ],
      "id": "578863ef-e080-4741-af10-1ee8efc4730e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -240,
        2100
      ],
      "id": "a8232ce6-84c8-49ae-bf5e-d513dbf283bb",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "ADl7Wvu9YXxKvVtY",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "binary supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Openrouter": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set city_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set city_id": {
      "main": [
        [
          {
            "node": "Get RAG Inbox JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "binary supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "binary supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Inbox JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "binary supabase": {
      "main": [
        [
          {
            "node": "If isempty",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent1": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to RAG Storage2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to RAG Unprocessed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If isempty": {
      "main": [
        [
          {
            "node": "Move to RAG Unprocessed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to RAG Storage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Deepseek-reasoner": {
      "ai_languageModel": [
        []
      ]
    },
    "Deepseek-chat": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        []
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-01-23T13:04:35Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-01-23T13:04:35Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "22edc307-130c-42fa-8b21-83b1e993913d",
  "activeVersionId": null,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-02-18T06:22:04.983Z",
      "createdAt": "2025-02-18T06:22:04.983Z",
      "role": "workflow:owner",
      "workflowId": "LgIOG3NMc1Hl930C",
      "projectId": "GfhaYhFYRk0TRXAf"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-01-28T15:25:26.214Z",
      "createdAt": "2025-01-28T15:25:26.214Z",
      "id": "BngebX50Ev8rBclu",
      "name": "HN Content manager"
    },
    {
      "updatedAt": "2025-02-09T16:38:26.099Z",
      "createdAt": "2025-02-09T16:38:26.099Z",
      "id": "YEStJInGeLpvHEQ8",
      "name": "tool"
    }
  ]
}