heritage/Vision test.json
{
  "updatedAt": "2025-03-05T20:07:05.000Z",
  "createdAt": "2025-03-05T18:47:29.459Z",
  "id": "KEVULtu8zqlBV7Sr",
  "name": "Vision test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When clicking ‘Test workflow’').item.json.query }}",
        "messages": {
          "messageValues": [
            {
              "message": "# Rolle\nDu laver en kort forklaring af hvad billedet indeholder"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageUrl",
              "imageUrl": "https://rrkivosxnrfvdawawexd.supabase.co/storage/v1/render/image/public/images/img-tavira/original/1736933658146.jpeg?width=900&height=540&resize=cover&quality=80"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        460,
        -220
      ],
      "id": "e55e10b5-732a-450e-bb15-6ddfcd29961c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        180
      ],
      "id": "c3977508-af6e-4734-b9bd-a3758e168299",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZjiR1Y4tdzymEK1L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('Get RAG Inbox').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('Get RAG Inbox').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f8cdc38e-8f33-424a-9678-896aca479564",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=uma_planta.jpg",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
            "mode": "list",
            "cachedResultName": "RAG Storage",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -180,
        -200
      ],
      "id": "8eb17f0d-ba48-4a75-9ffe-2d20fef66ed2",
      "name": "Get RAG Inbox",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -200
      ],
      "id": "03cdc035-09a9-4c87-b0e7-264e195841b6",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0e311338-b1df-48f0-bf2b-9425824e7773",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        -220
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PJ6id5UZ4SjuKSnf",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "bbc8066a-e140-45ed-be4c-0bab3ba872a5",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ADl7Wvu9YXxKvVtY",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get RAG Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Inbox": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When chat message received": [
      {
        "json": {}
      }
    ],
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "query": "hvilke typer bygninger er der på kortet?"
        }
      }
    ]
  },
  "versionId": "61db70fc-fd47-4605-bc84-ae1f613896a4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-05T18:47:29.463Z",
      "createdAt": "2025-03-05T18:47:29.463Z",
      "role": "workflow:owner",
      "workflowId": "KEVULtu8zqlBV7Sr",
      "projectId": "rkqKISKa14HwF9Xd"
    }
  ],
  "activeVersion": null,
  "tags": []
}