utilco/Box to Pinecone RAG Document Ingestion with Metadata.json
{
  "createdAt": "2025-10-21T17:32:07.530Z",
  "updatedAt": "2025-10-21T17:53:43.000Z",
  "id": "GxqVPnihHHeIxTTP",
  "name": "Box to Pinecone RAG Document Ingestion with Metadata",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "0304fae2-b5b2-45d2-889a-537ce461f744",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "boxFolderId",
              "value": "YOUR_BOX_FOLDER_ID",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "pineconeIndex",
              "value": "YOUR_PINECONE_INDEX_NAME",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "pineconeNamespace",
              "value": "documents",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "69a57744-5525-4dca-97a7-b75d18b566c7",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "get",
        "folderId": "={{ $('Workflow Configuration').first().json.boxFolderId }}"
      },
      "id": "1fe49ff5-5620-4a27-8934-37477cd37670",
      "name": "Get Files from Box",
      "type": "n8n-nodes-base.box",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "21467069-444a-46a6-b5d8-e121c3a8d152",
      "name": "Download File from Box",
      "type": "n8n-nodes-base.box",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "metadata",
              "value": "={{ { \"fileName\": $json.name, \"fileId\": $json.id, \"fileType\": $json.type, \"createdAt\": $json.created_at, \"modifiedAt\": $json.modified_at, \"size\": $json.size, \"createdBy\": $json.created_by?.name, \"modifiedBy\": $json.modified_by?.name, \"description\": $json.description || '', \"tags\": $json.tags?.join(', ') || '', \"source\": \"Box\" } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "21d26bd1-5a52-49a0-aa18-ad239df5547a",
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.pineconeIndex }}"
        },
        "options": {
          "pineconeNamespace": "={{ $('Workflow Configuration').first().json.pineconeNamespace }}"
        }
      },
      "id": "556be524-da93-436b-904e-f855a896e5c9",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        0
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "9a5da0fa-3739-47b8-b882-c83fad066655",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1248,
        224
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "ed674576-f194-4c09-b80a-1f22e9d07e66",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        432
      ]
    },
    {
      "parameters": {},
      "id": "86bf6e87-6db0-406a-86db-cd22ae34bc45",
      "name": "Embeddings Cohere",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1120,
        224
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Files from Box",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files from Box": {
      "main": [
        [
          {
            "node": "Download File from Box",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Box": {
      "main": [
        [
          {
            "node": "Prepare Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "20e167e3-6028-495d-9a27-0e2680b9b87a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-21T17:32:07.540Z",
      "updatedAt": "2025-10-21T17:32:07.540Z",
      "role": "workflow:owner",
      "workflowId": "GxqVPnihHHeIxTTP",
      "projectId": "amlePLldrdBTzDyr"
    }
  ],
  "tags": []
}