utilco/box http.json
{
  "updatedAt": "2025-11-04T08:45:03.000Z",
  "createdAt": "2025-11-03T16:54:46.435Z",
  "id": "9Lfln0qt4pR3Hdbc",
  "name": "box http",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        -128
      ],
      "id": "53aec3b1-ce9e-440f-b45b-4de74c2ab4cc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.box.com/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "ozrpingnidf7d7lv7lkapy1466xypubo"
            },
            {
              "name": "client_secret",
              "value": "ULnWruJxNGGzNrmwVcn7CpD8ArDyPlhS"
            },
            {
              "name": "box_subject_type",
              "value": "enterprise"
            },
            {
              "name": "box_subject_id",
              "value": "1361694127"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -128
      ],
      "id": "9b3572d1-0a99-43b4-8674-942d873fa668",
      "name": "get token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.box.com/2.0/ai/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"mode\": \"single_item_qa\",\n  \"items\": [\n    {\n      \"id\": \"2030630171937\",\n      \"type\": \"file\"\n    }\n  ],\n  \"prompt\": \"Hvad er de vigtigste informationer i dokumentet\",\n  \"include_citations\": true\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        -176
      ],
      "id": "4b4e822c-e2e9-4a2c-97ba-3c6c98df015e",
      "name": "fil test - ask"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.box.com/2.0/ai/text_gen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer  {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"items\": [\n    {\n      \"id\": \"2030630171937\",\n      \"type\": \"file\"\n    }\n  ],\n  \"prompt\": \"Create a short blog post based on this input. You can add emoticons, but not too many. \"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        208
      ],
      "id": "abd49066-8767-4070-85dd-e4aae938ab95",
      "name": "fil test - text generation??"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.box.com/2.0/ai/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"mode\": \"single_item_qa\",\n  \"prompt\": \"Hvem er denne kunde?\",\n  \"items\": [\n    {\n      \"type\": \"hubs\",\n      \"id\": \"653219609\"\n    }\n  ],\n  \"include_citations\": true,\n  \"ai_agent\": {\n    \"type\": \"ai_agent_ask\",\n    \"basic_text\": {\n      \"model\": \"azure__openai__gpt_4o_mini\"\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        16
      ],
      "id": "8f85226b-fbcf-4a16-a862-9384bbac4410",
      "name": "hub - mangler invitation"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get token": {
      "main": [
        [
          {
            "node": "hub - mangler invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fil test - ask": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "c8a9458d-5a8d-4af5-8187-7a5b4c2658db",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-03T16:54:46.438Z",
      "createdAt": "2025-11-03T16:54:46.438Z",
      "role": "workflow:owner",
      "workflowId": "9Lfln0qt4pR3Hdbc",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "tags": []
}