utilco/Case creator.json
{
  "createdAt": "2025-06-09T04:39:10.303Z",
  "updatedAt": "2025-06-19T14:12:58.000Z",
  "id": "TM4BtRHM82JhtiIH",
  "name": "Case creator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"courses_id\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        660,
        625
      ],
      "id": "34701a3d-92fa-4e09-afed-0da135db4712",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.courses_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        625
      ],
      "id": "e0015003-b35e-42fe-a4bb-423d18cd67a4",
      "name": "Get course",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "course_translations",
        "filters": {
          "conditions": [
            {
              "keyName": "course_id",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "language_code",
              "keyValue": "={{ $json.language_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        625
      ],
      "id": "d5c87253-8bb2-4f44-ae6c-3c0eb0ef7215",
      "name": "Get course content",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.outline }}\n\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "# System Prompt til n8n LLM-modul – \"Case-generator til onlinekursus\"\n\n## Rolle\nDu er ekspert i at udvikle engagerende og læringsunderstøttende case-beskrivelser til online kurser. Din opgave er at skabe en gennemgående serie af cases, der understøtter læringsmålene for hvert modul og tilsammen danner en tydelig \"rød tråd\".\n\n## Instruktion\n\n### 1 – Forstå inputtet\n* User prompten består af ét eller flere moduler\n* Hvert modul har mindst felterne: **module_id**, **Kort beskrivelse**, **Detaljeret indhold**, (evt. **Lektioner**) og **Læringsmål**\n* Modulerne står i den rækkefølge, de indgår i kurset\n\n### 2 – Designprincipper for cases\n1. **Koherens**: Alle cases foregår i det samme fiktive scenarie (fx et el-, vand- eller energiselskab). Lad scenariet udvikle sig kronologisk fra modul 1 til sidste modul\n2. **Progression**: Kompleksiteten skal stige i takt med modulerne. Senere cases må antage, at læreren allerede har arbejdet med tidligere cases\n3. **Relevans**: Hver case skal tydeligt træne mindst ét af modulets læringsmål\n4. **Variation**: Brug forskellige case-typer (beslutningsdilemma, beregning, diskussion, rollespil) men hold fast i det fælles scenarie\n5. **Realistisk scope**: En case-beskrivelse skal være ca. 400 ord totalt\n\n### 3 – Casestruktur\nFor hver case skal du udvikle følgende elementer:\n\n**Baggrund**\nSæt scenen: organisation, sektor, nøgleudfordringer (4-6 linjer)\n\n**Problemstilling**\nBeskriv det centrale dilemma eller den udfordring, deltagerne skal løse (3-4 linjer)\n\n**Interessenter**\n* Primære interessenter (bulletliste, max 5)\n* Hver interessent: kort beskrivelse af deres mål/agenda (1 linje)\n\n**Læringsmål**\nForklar (2-3 linjer) hvordan casen understøtter modulets konkrete læringsmål\n\n**Diskussions- & analysespørgsmål**\n* 3-5 åbne spørgsmål, der guider deltagerne i at anvende modulstoffet på casen\n* Start hvert spørgsmål med et handlingsverbum (\"Analysér…\", \"Diskutér…\", \"Vurdér…\")\n\n### 4 – Sprog og stil\n* Svar altid på det samme sprog som user prompten (typisk dansk)\n* Brug aktivt, klart sprog og konkrete formuleringer\n* Start hver case med casens titel – ikke med velkomsttekst\n* Hold totallængden under 400 ord (ekskl. markdown-overskrifter)\n\n\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1540,
        620
      ],
      "id": "8ee60287-096c-40ae-a388-520a6530213b",
      "name": "Case planner"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"course_cases\": [\n    {\n      \"module_id\": \"<samme id som i user prompt>\",\n      \"case_title\": \"<kort, fængende titel>\",\n      \"case_tekst\": \"<ca. 400 ord, struktureret med markdown overskrifter>\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1700,
        840
      ],
      "id": "6d70dbe9-17dc-4a00-8c58-54688993241c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-2.5-pro-preview",
          "mode": "list",
          "cachedResultName": "google/gemini-2.5-pro-preview"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        860
      ],
      "id": "527aef70-13dd-4222-9cd1-21f3179daec3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* ----------------------------------------------------------\n * Læsevenlig outline med\n *  – dobbeltlinje før hvert modul\n *  – lektioner (inkl. content)\n * ---------------------------------------------------------- */\nWITH \n/* 1) Lektioner pr. modul (MED content) --------- */\nlesson_lines AS (\n  SELECT\n    l.module_id,\n\n    string_agg(\n      (\n        /* ---------- lektion-titel ---------- */\n        '    • Lektion ' || l.position || ' (' || lt.language_code || '): '\n        || coalesce(lt.title, '(ingen titel)') || E'\\n'\n\n        /* ---------- lesson-felter ---------- */\n        || CASE WHEN lt.content IS NOT NULL THEN\n             E'\\n    ----------------------------------------\\n'\n             || '    Indhold:' || E'\\n'\n             || lt.content || E'\\n'\n           ELSE '' END\n      ),\n      E'\\n' ORDER BY l.position\n    ) AS lesson_block\n  FROM lessons            l\n  JOIN lesson_translations lt ON lt.lesson_id = l.id\n  GROUP BY l.module_id\n),\n\n/* 2) Hele modul-blokken -------------------------------------- */\nmodule_lines AS (\n  SELECT\n    m.course_id,\n\n    string_agg(\n      /* ==== dobbeltlinje før hvert modul ==================== */\n      E'========================================\\n' ||\n\n      /* ---------- modul-titel -------------------------------- */\n      '◦ Modul ' || m.position || ' (modul_id: ' || m.id || ') (' || mt.language_code || '): '\n        || coalesce(mt.title, '(ingen titel)') || E'\\n'\n\n      /* ---------- modul-felter ------------------------------ */\n      || CASE WHEN mt.description IS NOT NULL THEN\n           E'\\n----------------------------------------\\n'\n           || 'Beskrivelse:' || E'\\n'\n           || mt.description || E'\\n'\n         ELSE '' END\n\n      || CASE WHEN mt.content IS NOT NULL THEN\n           E'\\n----------------------------------------\\n'\n           || 'Indhold:' || E'\\n'\n           || mt.content || E'\\n'\n         ELSE '' END\n\n      /* ---------- lektioner (med indhold) ------------------- */\n      || CASE\n           WHEN ll.lesson_block IS NOT NULL THEN\n             E'\\n----------------------------------------\\n'\n             || 'Lektioner:' || E'\\n'\n             || ll.lesson_block\n           ELSE '(ingen lektioner)'\n         END\n      ,\n      E'\\n' ORDER BY m.position\n    ) AS module_block\n  FROM modules             m\n  JOIN module_translations mt ON mt.module_id = m.id\n  LEFT JOIN lesson_lines   ll ON ll.module_id = m.id\n  GROUP BY m.course_id\n)\n\n/* 3) Kursus-header + moduler ---------------------------------- */\nSELECT\n  'Kursus (' || ct.language_code || '): ' || ct.title || E'\\n'\n  || '========================================' || E'\\n'\n\n  /* ---- Beskrivelse ---- */\n  || CASE WHEN ct.description IS NOT NULL THEN\n       E'\\n----------------------------------------\\n'\n       || 'Beskrivelse:' || E'\\n'\n       || ct.description || E'\\n'\n     ELSE '' END\n\n  /* ---- Indhold ---- */\n  || CASE WHEN ct.content IS NOT NULL THEN\n       E'\\n----------------------------------------\\n'\n       || 'Indhold:' || E'\\n'\n       || ct.content || E'\\n'\n     ELSE '' END\n\n  /* ---- Læringsmål ---- */\n  || CASE WHEN ct.learning_objectives IS NOT NULL THEN\n       E'\\n----------------------------------------\\n'\n       || 'Læringsmål:' || E'\\n'\n       || '• ' || array_to_string(ct.learning_objectives, E'\\n• ') || E'\\n'\n     ELSE '' END\n\n  /* ---- Moduler ---- */\n  || E'\\n' || coalesce(ml.module_block, '(ingen moduler)')   AS outline\nFROM courses              c\nJOIN course_translations  ct ON ct.course_id = c.id\nLEFT JOIN module_lines    ml ON ml.course_id = c.id\nWHERE c.id = '{{ $json.course_id }}';   -- ← dit course_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        625
      ],
      "id": "ee212670-420e-44a9-9846-3ccbaab452b0",
      "name": "Course content",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "module_translations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "module_id",
              "condition": "eq",
              "keyValue": "={{ $json.module_id }}"
            },
            {
              "keyName": "language_code",
              "condition": "eq",
              "keyValue": "={{ $('Get course').first().json.language_code }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "case_text",
              "fieldValue": "=# {{ $json.case_title }}\n\n{{ $json.case_tekst }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2120,
        620
      ],
      "id": "17bc8c66-e859-456d-a626-45bf0df6ecc5",
      "name": "Update module translation1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.course_cases",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1900,
        620
      ],
      "id": "0edce96c-4926-46a4-bf67-4a8aa558a0f0",
      "name": "Split Out1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course": {
      "main": [
        [
          {
            "node": "Get course content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course content": {
      "main": [
        [
          {
            "node": "Course content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case planner": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Case planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Case planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Course content": {
      "main": [
        [
          {
            "node": "Case planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Update module translation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba4e46ef-1486-48dc-8b10-e144eab8178e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T04:39:10.308Z",
      "updatedAt": "2025-06-09T04:39:10.308Z",
      "role": "workflow:owner",
      "workflowId": "TM4BtRHM82JhtiIH",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-03-18T13:45:14.553Z",
      "updatedAt": "2025-03-18T13:45:14.553Z",
      "id": "6pOUCPP24FxgjbZJ",
      "name": "Kursus"
    }
  ]
}