utilco/Convert to markdown.json
{
  "updatedAt": "2025-11-17T12:18:29.000Z",
  "createdAt": "2025-11-17T06:01:30.706Z",
  "id": "Gmw423TMGpJGS3AT",
  "name": "Convert to markdown",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d404182c-14d3-4937-a4f9-b23bf6c2eb1a",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2192,
        512
      ],
      "id": "584a2340-952a-457e-a4f4-83dfe836abb0",
      "name": "Webhook",
      "webhookId": "d404182c-14d3-4937-a4f9-b23bf6c2eb1a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WwlGKLCrVwJHzSyW",
          "name": "Academy webhook"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "fileId": "={{ $('Webhook').item.json.body.fileId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.box",
      "typeVersion": 1,
      "position": [
        -1968,
        512
      ],
      "id": "913d5b6a-839f-4bad-b371-e9980a753597",
      "name": "Get a file",
      "credentials": {
        "boxOAuth2Api": {
          "id": "yIAh3gThcR2qpEHQ",
          "name": "Box Christian"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.box",
      "typeVersion": 1,
      "position": [
        -1536,
        512
      ],
      "id": "690ec2f3-7a71-43e1-ba09-a90400a1e86f",
      "name": "Download a file",
      "credentials": {
        "boxOAuth2Api": {
          "id": "yIAh3gThcR2qpEHQ",
          "name": "Box Christian"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Wait1').item.json.request_check_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d9fe016f-a472-4a08-98de-783318fc4f84",
      "name": "Get Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -640,
        432
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CDnA62zdXmFpBWGu",
          "name": "datalab"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.datalab.to/api/v1/marker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_pages",
              "value": "120"
            },
            {
              "name": "use_llm",
              "value": "true"
            },
            {
              "name": "output_format",
              "value": "markdown"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3b6784b3-f912-4078-bdbb-1ba9f382107a",
      "name": "Send to Datalab API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1312,
        512
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CDnA62zdXmFpBWGu",
          "name": "datalab"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "db51428b-28cd-4ceb-a925-865b619217ea",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1088,
        512
      ],
      "webhookId": "7b49cf9b-9859-4361-a8b8-2407d114d418",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c85917b-c2a8-4718-96d2-aa45bc85b853",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        432
      ],
      "id": "60addf60-1b77-4098-8b4e-e0ac8521b975",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        608
      ],
      "id": "d607c81a-c7c2-45d4-b3e4-8b4f5836115b",
      "name": "Wait3",
      "webhookId": "cfc0aa35-c1f3-428b-97e1-b3daa041e375"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc2fe6c1-6f19-4623-9a90-21c00e0284bc",
              "name": "request_check_url",
              "value": "{{ $json.request_check_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        512
      ],
      "id": "11620343-6fa7-422e-92fd-dd33fd2f1801",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.markdown }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        384
      ],
      "id": "d219fa9d-5b3c-4f78-89d4-63c5490ce058",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "processing",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "01f88bd9-f1d4-46d3-92f6-bb686f1bdee0",
      "name": "Early Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "db2cce00-5751-42f5-9a0a-9bca6ea30dfb",
      "name": "Early Respond with ExecutionId",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2032,
        16
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1760,
        512
      ],
      "id": "6c6f27e6-85d1-4fd3-bf35-a466ce126c37",
      "name": "Limit"
    }
  ],
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Early Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Markdown": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Datalab API": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Send to Datalab API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Response Data": {
      "main": [
        [
          {
            "node": "Early Respond with ExecutionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "utilco.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "26",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2001:8a0:58dc:d500:cc3:b1c3:62f0:c2f8",
            "cf-ew-via": "15",
            "cf-ipcountry": "PT",
            "cf-ray": "99fee64a60d3e6de-LIS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "2001:8a0:58dc:d500:cc3:b1c3:62f0:c2f8, 172.68.102.19",
            "x-forwarded-host": "utilco.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-10-6888ffdd77-g92dm",
            "x-is-trusted": "yes",
            "x-real-ip": "2001:8a0:58dc:d500:cc3:b1c3:62f0:c2f8",
            "x-webhook-secret": "vczUfUpZhtQkJXFoP6hN"
          },
          "params": {},
          "query": {},
          "body": {
            "fileId": "2046317146970"
          },
          "webhookUrl": "https://utilco.app.n8n.cloud/webhook/d404182c-14d3-4937-a4f9-b23bf6c2eb1a",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "164c8cd2-f9f2-4788-bd51-da7333c88bb4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-17T06:01:30.710Z",
      "createdAt": "2025-11-17T06:01:30.710Z",
      "role": "workflow:owner",
      "workflowId": "Gmw423TMGpJGS3AT",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "tags": []
}