utilco/Course translation med 2 adskilte loops.json
{
  "updatedAt": "2025-09-05T14:46:56.000Z",
  "createdAt": "2025-08-25T13:20:07.583Z",
  "id": "pyOuC3TZmuw6UgCe",
  "name": "Course translation med 2 adskilte loops",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8dd9f140-9678-44fe-bf75-40a583aa0ca4",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bf7bfa14-ab34-4cac-8df1-fb49183da98a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        -16
      ],
      "webhookId": "8dd9f140-9678-44fe-bf75-40a583aa0ca4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WwlGKLCrVwJHzSyW",
          "name": "Academy webhook"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "courses",
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Webhook Trigger').item.json.body.course_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6b279f9-4322-4df7-8a04-ca80d3803b2a",
      "name": "Fetch Course Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "google/gemini-2.5-flash-lite"
        },
        "options": {}
      },
      "id": "023dc805-cb88-462b-bdff-c100ef51944d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2880,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={   \"success\": true,   \"message\": \"Kurset er nu oversat til {{ $('Webhook Trigger').first().json.body.target_language }}\",   \"title\": \"{{ $('Translate Course').first().json.output.title }}\",   \"course_id\": \"{{ $('Webhook Trigger').first().json.body.course_id }}\" }",
        "options": {}
      },
      "id": "363aa32f-c073-4631-870e-54091c95f6f2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2144,
        1968
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Kursustitel\",\n\t\"description\": \"Kort beskrivelse af kurset\",\n\t\"content\": \"Hovedindholdet eller tekstligt indhold for kurset\",\n\t\"video_url\": \"URL til kursusvideo\",\n\t\"image_url\": \"URL til kursusbillede\",\n\t\"videoscript\": \"Transskription eller manuskript til videoen\",\n  \"learning_objectives\": \n[\n\"Forstå formålet med arbejdsmiljøledelse og ISO 45001's rolle i en moderne organisation\",\n\"Kunne redegøre for de grundlæggende krav og nøgleprincipper i ISO 45001 samt forskellene til tidligere standarder\",\n\"Identificere og vurdere branche-/sektorspecifikke risici og forstå tilpasningen af arbejdsmiljøindsatsen\",\n\"Kende best practices i implementering, herunder lederskab, medarbejderinvolvering og integration med forretningen\",\n\"Anvende modenhedsmodeller og forstå centrale drivere/barrierer for implementering og vedligeholdelse\",\n\"Forstå og kunne forklare opbygning af KPI’er, auditprocesser og løbende performance-evaluering\",\n\"Reflektere over egen organisations arbejdsmiljøindsats og planlægge konkrete forbedringstiltag\"\n],\n\t\"thumbnail_url\": \"URL til miniatyrbillede/thumbnail\",\n\t\"image_text\": \"Alternativ tekst (alt) for billedet\",\n\t\"image_prompt\": \"Prompt brugt til at generere billedet (hvis relevant)\",\n  \"translated_module_titles\":\n  [\n  {\n    \"module_id\": \"fbf23506-f5b2-4f4e-9f8d-75c34dbcd1ab\",\n    \"title\": \"Introduction to occupational health and safety management and ISO 45001\"\n  },\n  {\n    \"module_id\": \"c64b72ec-95fd-4882-b012-19cee59df2f0\",\n    \"title\": \"ISO 45001 structure and key requirements\"\n  },\n  {\n    \"module_id\": \"052ce1b0-f9d2-45c9-94bf-8757c264d9ab\",\n    \"title\": \"Industry risks and adapting the occupational health and safety management system\"\n  },\n  {\n    \"module_id\": \"c9fbf673-e567-4645-a673-b7dd88a10b8e\",\n    \"title\": \"Best practices, maturity and organizational embedding\"\n  },\n  {\n    \"module_id\": \"32ef9168-6186-438e-9781-402a88f118b9\",\n    \"title\": \"Performance indicators, audits and continuous improvement\"\n  }\n]\n\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2160,
        336
      ],
      "id": "8e87329d-c449-439f-bfd7-06ec8b88833b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        112
      ],
      "id": "cd628bac-2cfc-48e4-bf08-0e19ae762da9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20d4fbd-d108-4182-a8f5-01160aceb6de",
              "name": "data",
              "value": "={{ $json.data[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        112
      ],
      "id": "2eb9a6a4-dec8-4d3b-b850-719f6489d233",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "course_translations",
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "course_id",
              "value": "={{ $('Webhook Trigger').item.json.body.course_id }}"
            },
            {
              "column": "language_code",
              "value": "={{ $('Webhook Trigger').item.json.body.source_language }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e79fd7a-fe0d-46f7-942a-f6704173fbdc",
      "name": "Fetch Course Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "course_translations",
        "columns": {
          "0": "c",
          "1": "o",
          "2": "u",
          "3": "r",
          "4": "s",
          "5": "e",
          "6": "_",
          "7": "i",
          "8": "d",
          "9": ",",
          "10": "l",
          "11": "a",
          "12": "n",
          "13": "g",
          "14": "u",
          "15": "a",
          "16": "g",
          "17": "e",
          "18": "_",
          "19": "c",
          "20": "o",
          "21": "d",
          "22": "e",
          "23": ",",
          "24": "t",
          "25": "i",
          "26": "t",
          "27": "l",
          "28": "e",
          "29": ",",
          "30": "d",
          "31": "e",
          "32": "s",
          "33": "c",
          "34": "r",
          "35": "i",
          "36": "p",
          "37": "t",
          "38": "i",
          "39": "o",
          "40": "n",
          "41": ",",
          "42": "c",
          "43": "o",
          "44": "n",
          "45": "t",
          "46": "e",
          "47": "n",
          "48": "t",
          "49": ",",
          "50": "v",
          "51": "i",
          "52": "d",
          "53": "e",
          "54": "o",
          "55": "s",
          "56": "c",
          "57": "r",
          "58": "i",
          "59": "p",
          "60": "t",
          "61": ",",
          "62": "l",
          "63": "e",
          "64": "a",
          "65": "r",
          "66": "n",
          "67": "i",
          "68": "n",
          "69": "g",
          "70": "_",
          "71": "o",
          "72": "b",
          "73": "j",
          "74": "e",
          "75": "c",
          "76": "t",
          "77": "i",
          "78": "v",
          "79": "e",
          "80": "s",
          "81": ",",
          "82": "i",
          "83": "m",
          "84": "a",
          "85": "g",
          "86": "e",
          "87": "_",
          "88": "t",
          "89": "e",
          "90": "x",
          "91": "t",
          "92": ",",
          "93": "v",
          "94": "i",
          "95": "d",
          "96": "e",
          "97": "o",
          "98": "_",
          "99": "u",
          "100": "r",
          "101": "l",
          "102": ",",
          "103": "i",
          "104": "m",
          "105": "a",
          "106": "g",
          "107": "e",
          "108": "_",
          "109": "u",
          "110": "r",
          "111": "l",
          "112": ",",
          "113": "t",
          "114": "h",
          "115": "u",
          "116": "m",
          "117": "b",
          "118": "n",
          "119": "a",
          "120": "i",
          "121": "l",
          "122": "_",
          "123": "u",
          "124": "r",
          "125": "l",
          "126": ",",
          "127": "i",
          "128": "m",
          "129": "a",
          "130": "g",
          "131": "e",
          "132": "_",
          "133": "p",
          "134": "r",
          "135": "o",
          "136": "m",
          "137": "p",
          "138": "t",
          "139": ",",
          "140": "s",
          "141": "t",
          "142": "a",
          "143": "t",
          "144": "u",
          "145": "s",
          "mappingMode": "defineBelow",
          "value": {
            "course_id": "={{ $('Webhook Trigger').first().json.body.course_id }}",
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "title": "={{ $json.output.title }}",
            "description": "={{ $json.output.description }}",
            "content": "={{ $json.output.content }}",
            "image_url": "={{ $json.output.image_url }}",
            "videoscript": "={{ $json.output.videoscript }}",
            "learning_objectives": "={{ $json.output.learning_objectives }}",
            "thumbnail_url": "={{ $json.output.thumbnail_url }}",
            "image_text": "={{ $json.output.image_text }}",
            "image_prompt": "={{ $json.output.image_prompt }}",
            "status": "draft"
          },
          "matchingColumns": [
            "course_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "course_id",
              "displayName": "course_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "videoscript",
              "displayName": "videoscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "learning_objectives",
              "displayName": "learning_objectives",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "thumbnail_url",
              "displayName": "thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "image_text",
              "displayName": "image_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d34cbf1-d006-42ce-8b23-c5fb0a87199d",
      "name": "Upsert Course Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2416,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select t.module_id, t.title\nfrom module_translations t join modules m\non t.module_id = m.id\nwhere m.course_id = '{{ $('Webhook Trigger').item.json.body.course_id }}'\nand t.language_code = '{{ $('Webhook Trigger').item.json.body.source_language }}'",
        "options": {}
      },
      "id": "de7bf460-6e4b-437b-976c-53d8cf2f3814",
      "name": "Fetch Module Names",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        112
      ],
      "id": "fe428ff4-1ba4-498e-a4d7-127a774a313d",
      "name": "ModuleOrgNames"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.translated_module_titles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2864,
        112
      ],
      "id": "a6d8028d-a0f3-47f8-a6c6-59d66bd1e6ca",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## Course",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "dc25387f-fb1d-4ab6-badb-bcba98bbc146",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Module",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        992
      ],
      "id": "f2a4ef3a-2f42-4424-b934-ba9fcccd6f14",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select t.lesson_id, t.title\nfrom lesson_translations t join lessons l\non t.lesson_id = l.id\nwhere l.module_id =  '{{ $json.module_id }}'\nand t.language_code = '{{ $('Webhook Trigger').first().json.body.source_language }}'",
        "options": {}
      },
      "id": "bee96aaa-4368-4bc2-bae8-3a061119fca9",
      "name": "Fetch Lesson Names",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        752
      ],
      "id": "9e405f38-3339-4839-91c8-607ed7039591",
      "name": "LessonOrgNames"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": {
          "__rl": true,
          "value": "module_translations",
          "mode": "list",
          "cachedResultName": "module_translations"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "module_id",
              "value": "={{ $('Edit Fields2').first().json.module_id }}"
            },
            {
              "column": "language_code",
              "value": "={{ $('Webhook Trigger').first().json.body.source_language }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13fa9b30-f06c-4c1b-949e-65551b63ce85",
      "name": "Fetch Module Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1136
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        656
      ],
      "id": "e105ce5b-340c-4dc3-8c8f-3af4af032d02",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf6c5a77-2163-4ab8-9f48-0445c5828509",
              "name": "module_id",
              "value": "={{ $json.module_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        752
      ],
      "id": "153610b0-564d-4a6a-808f-0c06e0ad116a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1616,
        1136
      ],
      "id": "44dc5604-028e-4010-805d-d8efd1b60e88",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20d4fbd-d108-4182-a8f5-01160aceb6de",
              "name": "data",
              "value": "={{ $json.data[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        1136
      ],
      "id": "c05faba3-691b-4ae1-8222-daf8777efb1a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional course translator. Translate the provided course content from (ISO 639) language **{{ $('Webhook Trigger').item.json.body.source_language }}** to **{{ $('Webhook Trigger').item.json.body.target_language }}** following the guidelines below.\n\n# Course Context\n- **Course Structure:** **Course** -> Modules -> Lessons. We are now working in the top Course level.\n- **Course Title:** {{ $json.data.title }}\n- **Source Language (ISO 639) code:** {{ $('Webhook Trigger').item.json.body.source_language }}\n- **Target Language (ISO 639) code::** {{ $('Webhook Trigger').item.json.body.target_language }}\n\n# Instructions\n1. Ensure a professional and educational tone throughout.\n2. Keep technical terms in English when appropriate.\n3. Preserve the markdown formatting and structure, especially for arrays, such as 'learning_objectives'.\n4. Translate all module titles using the provided mappings. Apply these exact translations uniformly wherever the module title appears (e.g., content, videoscripts, descriptions).\n\n# Tasks\n**Task 1:**\nTranslate the following module titles and then use these module title translations everywhere throughout the course content. Preserve the module_id's unchanged:\n{{ JSON.stringify($('ModuleOrgNames').item.json.data, null, 2) }}\n\n**Task 2:**\nTranslate the course content provided below:\n{{ JSON.stringify($json.data, null, 2) }}\n\n\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "d720171a-d8fb-41c8-9474-de1054c26baa",
      "name": "Translate Course",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1968,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional course translator. Translate the provided course module content from (ISO 639) language **{{ $('Webhook Trigger').first().json.body.source_language }}** to **{{ $('Webhook Trigger').first().json.body.target_language }}** following the guidelines below.\n\n# Course Context\n- **Course Structure:** Course -> **Modules** -> Lessons. We are now working in one module and the lesson titles \n- **Course Title:** {{ $json.data.title }}\n- **Source Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.source_language }}\n- **Target Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.target_language }}\n\n- **Course Description:**\n{{ $('Fetch Course Translation').first().json.description }}\n\n- **Modules in this course:**\n{{ JSON.stringify($('ModuleOrgNames').first().json.data, null, 2) }}\n\n- **This Module id:** {{ $json.data.module_id }}\n- **This Module title:** {{ $json.data.title }}\n\n# Instructions\n1. Translate all lesson titles using the provided mappings. Apply these exact translations uniformly wherever the lesson title appears (e.g., content, videoscripts, descriptions).\n2. Translate this module: {{ $json.data.title }}\n3. Ensure a professional and educational tone throughout.\n4. Keep technical terms in English when appropriate.\n5. Preserve the formatting and structure.\n\n\n# Tasks\n**Task 1:**\nTranslate the following lesson **titles** belonging to this module. Pay extra attention to keep the UUID lesson_id's unchanged since a changed lesson_id will make the workflow fail:\n{{ JSON.stringify($('LessonOrgNames').first().json.data, null, 2) }}\n\nUse these translations of lesson titles whereever lesson titles are used in the module content to get at consistent translation of lesson titles throughout the module translation.\n\n**Task 2:**\nTranslate the module content provided below:\n{{ JSON.stringify($json.data, null, 2) }}\n\n**Task 3:**\nDouble check that all lesson_id's are unchanged in the original valid UUID format\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "a06ebfe2-06e2-48b3-b3a7-54468d5b6c9e",
      "name": "Translate Module",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2064,
        1136
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Introduktion til Asset Management og jernbanekontekstenl\",\n\t\"content\": \"Som del af kurset Asset Management organisering, roller og ansvar...\",\n\t\"videoscript\": \"### Scene 1 – Velkommen til asset management i jernbanen\\n**Speak:**Velkommen til modul...\",\n\t\"description\": \"Kursets rammesætningsmodul, der introducerer, hvad asset management er...\",\n\t\"case_text\": \"# Case 1: Kyststrækningen – Mere end bare vedligehold\\n\\n### Baggrund\\nBanedanmark står over for en presserende udfordring...\",\n\t\"image_text\": \"Asset Management handler om værdiskabelse...\"\n,\n\"lessons\": \n[\n{\n\"lesson_id\": \n\"Original lesson_id (UUID)\",\n\"title\": \n\"Arbejdsmiljøets betydning og statistik (globalt/Skandinavien)\"\n},\n{\n\"lesson_id\": \n\"Original lesson_id (UUID)\",\n\"title\": \n\"Formål og fordele ved arbejdsmiljøledelsessystemer\"\n},\n{\n\"lesson_id\": \n\"Original lesson_id (UUID)\",\n\"title\": \n\"ISO 45001 i oversigt: Historik, PDCA og HLS-struktur\"\n},\n{\n\"lesson_id\": \n\"Original lesson_id (UUID)\",\n\"title\": \n\"Hovedforskelle til OHSAS 18001 og kobling til lovgivning\"\n}\n]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2144,
        1360
      ],
      "id": "534008ef-4a05-4b19-a25f-8658824db1b0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d31d867-b0c8-4f37-9618-c51643b21eb0",
              "name": "output.translated_module_titles",
              "value": "={{ $('Translate Course').item.json.output.translated_module_titles }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        112
      ],
      "id": "026fabcf-d793-48fc-8fe7-3712176ee2a8",
      "name": "Module Titles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a055f7d-94ec-4546-8dd2-6e33188fdeee",
              "name": "output.lessons",
              "value": "={{ $('Translate Module').item.json.output.lessons }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        1136
      ],
      "id": "0a4dd156-4e69-495a-ab65-b6cd3e51c043",
      "name": "Lesson Titles"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "lesson_translations",
          "mode": "list",
          "cachedResultName": "lesson_translations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lesson_id": "={{ $json.lesson_id }}",
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "lesson_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lesson_id",
              "displayName": "lesson_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "videoscript",
              "displayName": "videoscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "gamma_url",
              "displayName": "gamma_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "exercises",
              "displayName": "exercises",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "reflection_questions",
              "displayName": "reflection_questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resources",
              "displayName": "resources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_text",
              "displayName": "image_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fca3ec6e-4f92-40e3-bf9a-91f8a1d6d36f",
      "name": "Upsert Lesson Titles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        1136
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "module_translations",
          "mode": "list",
          "cachedResultName": "module_translations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "module_id": "={{ $json.module_id }}",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "module_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "videoscript",
              "displayName": "videoscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "case_text",
              "displayName": "case_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "case_video_url",
              "displayName": "case_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "thumbnail_url",
              "displayName": "thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_text",
              "displayName": "image_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8a6ca605-a628-4267-ab5d-76349eeacb46",
      "name": "Upsert Module Titles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": {
          "__rl": true,
          "value": "module_translations",
          "mode": "list",
          "cachedResultName": "module_translations"
        },
        "columns": {
          "0": "c",
          "1": "o",
          "2": "u",
          "3": "r",
          "4": "s",
          "5": "e",
          "6": "_",
          "7": "i",
          "8": "d",
          "9": ",",
          "10": "l",
          "11": "a",
          "12": "n",
          "13": "g",
          "14": "u",
          "15": "a",
          "16": "g",
          "17": "e",
          "18": "_",
          "19": "c",
          "20": "o",
          "21": "d",
          "22": "e",
          "23": ",",
          "24": "t",
          "25": "i",
          "26": "t",
          "27": "l",
          "28": "e",
          "29": ",",
          "30": "d",
          "31": "e",
          "32": "s",
          "33": "c",
          "34": "r",
          "35": "i",
          "36": "p",
          "37": "t",
          "38": "i",
          "39": "o",
          "40": "n",
          "41": ",",
          "42": "c",
          "43": "o",
          "44": "n",
          "45": "t",
          "46": "e",
          "47": "n",
          "48": "t",
          "49": ",",
          "50": "v",
          "51": "i",
          "52": "d",
          "53": "e",
          "54": "o",
          "55": "s",
          "56": "c",
          "57": "r",
          "58": "i",
          "59": "p",
          "60": "t",
          "61": ",",
          "62": "l",
          "63": "e",
          "64": "a",
          "65": "r",
          "66": "n",
          "67": "i",
          "68": "n",
          "69": "g",
          "70": "_",
          "71": "o",
          "72": "b",
          "73": "j",
          "74": "e",
          "75": "c",
          "76": "t",
          "77": "i",
          "78": "v",
          "79": "e",
          "80": "s",
          "81": ",",
          "82": "i",
          "83": "m",
          "84": "a",
          "85": "g",
          "86": "e",
          "87": "_",
          "88": "t",
          "89": "e",
          "90": "x",
          "91": "t",
          "92": ",",
          "93": "v",
          "94": "i",
          "95": "d",
          "96": "e",
          "97": "o",
          "98": "_",
          "99": "u",
          "100": "r",
          "101": "l",
          "102": ",",
          "103": "i",
          "104": "m",
          "105": "a",
          "106": "g",
          "107": "e",
          "108": "_",
          "109": "u",
          "110": "r",
          "111": "l",
          "112": ",",
          "113": "t",
          "114": "h",
          "115": "u",
          "116": "m",
          "117": "b",
          "118": "n",
          "119": "a",
          "120": "i",
          "121": "l",
          "122": "_",
          "123": "u",
          "124": "r",
          "125": "l",
          "126": ",",
          "127": "i",
          "128": "m",
          "129": "a",
          "130": "g",
          "131": "e",
          "132": "_",
          "133": "p",
          "134": "r",
          "135": "o",
          "136": "m",
          "137": "p",
          "138": "t",
          "139": ",",
          "140": "s",
          "141": "t",
          "142": "a",
          "143": "t",
          "144": "u",
          "145": "s",
          "mappingMode": "defineBelow",
          "value": {
            "module_id": "={{ $('Edit Fields3').item.json.data.module_id }}",
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "content": "={{ $json.output.content }}",
            "image_url": "={{ $('Edit Fields3').item.json.data.image_url }}",
            "videoscript": "={{ $json.output.videoscript }}",
            "description": "={{ $json.output.description }}",
            "case_text": "={{ $json.output.case_text }}",
            "status": "draft",
            "thumbnail_url": "={{ $('Edit Fields3').item.json.data.thumbnail_url }}",
            "image_text": "={{ $json.output.image_text }}",
            "image_prompt": "={{ $('Edit Fields3').item.json.data.image_prompt }}"
          },
          "matchingColumns": [
            "module_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoscript",
              "displayName": "videoscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "case_text",
              "displayName": "case_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "case_video_url",
              "displayName": "case_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail_url",
              "displayName": "thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_text",
              "displayName": "image_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "897ea110-c121-4ad0-8ce2-c22a65381a81",
      "name": "Update Module Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2416,
        1136
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Module Quiz",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        592
      ],
      "id": "d7dd8efb-943e-4d6e-9f23-ff8656fa5351",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.lessons",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2864,
        1136
      ],
      "id": "28eaeaa1-4e9c-4a00-b249-9916a6fb2c7c",
      "name": "Split Lesson Titles"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  q.module_id,\n  t.module_question_id,\n  o.id AS module_question_option_id,\n  (to_jsonb(q)  - 'id' - 'module_id')                          AS module_question,\n  (to_jsonb(t)  - 'id' - 'module_question_id')                 AS module_question_translation,\n  (to_jsonb(o)  - 'id' - 'module_question_id')                 AS module_question_option,\n  (to_jsonb(ot) - 'id' - 'module_question_option_id')          AS module_question_option_translation\nFROM module_questions q\nLEFT JOIN module_question_translations t\n  ON t.module_question_id = q.id AND t.language_code = '{{ $('Webhook Trigger').first().json.body.source_language }}'\nLEFT JOIN module_question_options o\n  ON o.module_question_id = q.id\nLEFT JOIN module_question_option_translations ot\n  ON ot.module_question_option_id = o.id AND ot.language_code = '{{ $('Webhook Trigger').first().json.body.source_language }}'\nWHERE q.module_id = '{{ $('Edit Fields2').item.json.module_id }}'\n  AND (t.module_question_id IS NOT NULL OR ot.module_question_option_id IS NOT NULL)\nORDER BY q.position, o.position;",
        "options": {}
      },
      "id": "d75ee28c-f246-46ea-9499-d5c003a8fcaf",
      "name": "Fetch Module Questions1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: items = array fra Postgres-noden\nconst byKey = new Map();\n\nfor (const item of items) {\n  const r = item.json;\n  const qid  = r.module_question_id;\n  const lang = r.module_question_translation?.language_code ?? 'unknown';\n  const key  = `${qid}::${lang}`;\n\n  if (!byKey.has(key)) {\n    byKey.set(key, {\n      module_id: r.module_id,\n      module_question_id: qid,\n      language_code: lang,\n      question_position: r.module_question?.position ?? null,\n      question_text: r.module_question_translation?.question_text ?? null,\n      options: [],\n    });\n  }\n\n  // Udelad options uden oversættelse, hvis du vil:\n  const option = {\n    module_question_option_id: r.module_question_option_id,\n    option_position: r.module_question_option?.position ?? null,\n    is_correct: r.module_question_option?.is_correct ?? null,\n    option_text: r.module_question_option_translation?.option_text ?? null,\n    option_language_code: r.module_question_option_translation?.language_code ?? lang,\n  };\n\n  // Tilføj kun hvis der faktisk er tekst (valgfrit filter)\n  if (option.option_text != null) {\n    byKey.get(key).options.push(option);\n  }\n}\n\n// Sortér options efter position (valgfrit)\nconst out = Array.from(byKey.values()).map(q => {\n  q.options.sort((a, b) => (a.option_position ?? 0) - (b.option_position ?? 0));\n  return { json: q };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        752
      ],
      "id": "d9be68b1-7467-49f9-994e-54c865e72371",
      "name": "QuizOrg"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        752
      ],
      "id": "adf7ee41-e238-4e8b-8ca6-f7a15a04df34",
      "name": "AggQuizOrg"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"module_questions\": [\n    {\n      \"module_id\": \"Original UUID\",\n      \"module_question_id\": \"Original UUID\",\n      \"question_text\": \"Hvilket af følgende udsagn beskriver bedst det primære formål med at implementere et arbejdsmiljøledelsessystem som ISO 45001?\",\n      \"options\": [\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"At forebygge arbejdsulykker og sygdomme gennem systematik og kontinuerlig forbedring.\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"At reducere virksomhedens energi- og ressourceforbrug.\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"At sikre, at alle medarbejdere er ansat på fuldtid.\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"At gøre virksomheden mindre afhængig af medarbejdernes input.\"\n        }\n      ]\n    },\n    {\n      \"module_id\": \"Original UUID\",\n      \"module_question_id\": \"Original UUID\",\n      \"question_text\": \"Hvilket element er en NYT krav i ISO 45001 sammenlignet med OHSAS 18001 og har særlig betydning for ledere i den skandinaviske kontekst?\",\n      \"options\": [\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"Udarbejdelse af en arbejdsmiljøpolitik\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"Obligatorisk brug af eksterne auditører\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"Registrering af alle nærved-hændelser\"\n        },\n        {\n          \"module_question_option_id\": \"Original UUID\",\n          \"option_text\": \"Styrket medarbejderinddragelse og konsultationsprocesser på alle niveauer\"\n        }\n      ]\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        1856
      ],
      "id": "eefbaf0f-f481-419b-a0b6-de04c980fac8",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "module_question_translations",
          "mode": "list",
          "cachedResultName": "module_question_translations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "module_question_id": "={{ $json.module_question_id }}",
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "question_text": "={{ $json.question_text }}"
          },
          "matchingColumns": [
            "module_question_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "module_question_id",
              "displayName": "module_question_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question_text",
              "displayName": "question_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6849cf81-b93e-4cd7-ab17-a6a78b2251ab",
      "name": "Upsert quiz",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        1632
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "module_question_option_translations",
          "mode": "list",
          "cachedResultName": "module_question_option_translations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "module_question_option_id": "={{ $json.module_question_option_id }}",
            "option_text": "={{ $json.option_text }}",
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}"
          },
          "matchingColumns": [
            "module_question_option_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "module_question_option_id",
              "displayName": "module_question_option_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "option_text",
              "displayName": "option_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1efc6527-5ccc-49ad-ad69-34f2bacda76d",
      "name": "Upsert quiz options",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        1632
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2816,
        1632
      ],
      "id": "2f11bdd2-6495-4b92-9b9a-3bcb7170a369",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional course translator. Translate the provided course module **lesson content** from (ISO 639) language **{{ $('Webhook Trigger').first().json.body.source_language }}** to **{{ $('Webhook Trigger').first().json.body.target_language }}** following the guidelines below.\n\n# Course Context\n- **Course Structure: Course -> Modules -> **Lessons**. We are now working in one lesson in this course:\n- **Course Title:** {{ $('Translate Course').first().json.output.title }}\n- **Source Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.source_language }}\n- **Target Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.target_language }}\n- **Course Description:**\n{{ $('Fetch Course Translation').first().json.description }}\n\n- **Modules in this course:**\n{{ JSON.stringify($('ModuleOrgNames').first().json.data, null, 2) }}\n\n- **This Module title:** {{ $('Fetch Module Translation').first().json.title }}\n- **This Module content:** {{ $('Loop').item.json.module_content_en }}\n\n\n- **The translated title of this lesson you are going to translate the content of:** {{ $('Loop').item.json.lesson_title_en }}\n\n# Instructions\n1. Translate this lesson content below.\n2. Don't change the name of the lesson, it is already translated\n3. Don't change id, code, url fields\n4. Ensure a professional and educational tone throughout.\n5. Keep technical terms in English when appropriate.\n6. Don't summarize content - translate it just as it is\n7. If there is no content to be translated then leave the section empty (\"\")\n8. Preserve the markdown formatting and the structure for at json output.\n\n**Task:**\nTranslate the lesson content provided below:\n\n{{  JSON.stringify($json, null, 2) }}\n\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "ac6b28fc-96ff-4e7e-95d8-ca7ff9eef999",
      "name": "Translate Lesson",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2144,
        2192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.course_id,\n  m.id                       AS module_id,\n  m.position                 AS module_position,\n  l.id                       AS lesson_id,\n  l.position                 AS lesson_position,\n\n  -- Engelsk kontekst\n  mt_en.content              AS module_content_en,\n  lt_en.title                AS lesson_title_en,\n\n  -- Alle øvrige felter fra lesson_translations på dansk (ekskl. title)\n  lt_da.lesson_id,\n  lt_da.content,\n  lt_da.video_url,\n  lt_da.image_url,\n  lt_da.videoscript,\n  lt_da.exercises,\n  lt_da.reflection_questions,\n  lt_da.resources,\n  lt_da.image_text,\n  lt_da.image_prompt\nFROM modules m\nJOIN lessons l\n  ON l.module_id = m.id\nJOIN lesson_translations lt_da\n  ON lt_da.lesson_id = l.id\n AND lt_da.language_code = '{{ $('Webhook Trigger').first().json.body.source_language }}'\nLEFT JOIN lesson_translations lt_en\n  ON lt_en.lesson_id = l.id\n AND lt_en.language_code = '{{ $('Webhook Trigger').first().json.body.target_language }}'\nLEFT JOIN module_translations mt_en\n  ON mt_en.module_id = m.id\n AND mt_en.language_code = '{{ $('Webhook Trigger').first().json.body.target_language }}'\nWHERE m.course_id = '{{ $('Webhook Trigger').first().json.body.course_id }}'\nORDER BY m.position, l.position;",
        "options": {}
      },
      "id": "1c6e26db-dcdf-4af8-b3b0-28e8347b6ab2",
      "name": "Fetch Lesson Org Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        2128
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"The Significance and Statistics of Occupational Health and Safety\",\n\t\"content\": \"## Introduktion\\nVelkommen til denne første lektion, hvor vi sætter fokus på den helt grundlæggende årsag til, at vi beskæftiger os med arbejdsmiljøledelse\",\n\t\"exercises\": \"tatistik (globalt/Skandinavien)\\n\\n### Øvelse 1: Statistik-Spotting\\n\\n*Kort beskrivelse...\",\n\t\"reflection_questions\": \"## Reflektionsspørgsmål\\n\\n*   Lektionen præsenterer globale og skandinaviske statistikker om arbejdsmiljø. Hvilke af disse statistikker...\",\n\t\"resources\": \"### Yderligere ressourcer\\n- **ILO og WHO's fælles estimater...\",\n\t\"image_text\": \"Asset Management handler om værdiskabelse...\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2592,
        2480
      ],
      "id": "e949e4e2-f910-4af9-8462-bbf1e3be0828",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": {
          "__rl": true,
          "value": "lesson_translations",
          "mode": "list",
          "cachedResultName": "lesson_translations"
        },
        "columns": {
          "0": "c",
          "1": "o",
          "2": "u",
          "3": "r",
          "4": "s",
          "5": "e",
          "6": "_",
          "7": "i",
          "8": "d",
          "9": ",",
          "10": "l",
          "11": "a",
          "12": "n",
          "13": "g",
          "14": "u",
          "15": "a",
          "16": "g",
          "17": "e",
          "18": "_",
          "19": "c",
          "20": "o",
          "21": "d",
          "22": "e",
          "23": ",",
          "24": "t",
          "25": "i",
          "26": "t",
          "27": "l",
          "28": "e",
          "29": ",",
          "30": "d",
          "31": "e",
          "32": "s",
          "33": "c",
          "34": "r",
          "35": "i",
          "36": "p",
          "37": "t",
          "38": "i",
          "39": "o",
          "40": "n",
          "41": ",",
          "42": "c",
          "43": "o",
          "44": "n",
          "45": "t",
          "46": "e",
          "47": "n",
          "48": "t",
          "49": ",",
          "50": "v",
          "51": "i",
          "52": "d",
          "53": "e",
          "54": "o",
          "55": "s",
          "56": "c",
          "57": "r",
          "58": "i",
          "59": "p",
          "60": "t",
          "61": ",",
          "62": "l",
          "63": "e",
          "64": "a",
          "65": "r",
          "66": "n",
          "67": "i",
          "68": "n",
          "69": "g",
          "70": "_",
          "71": "o",
          "72": "b",
          "73": "j",
          "74": "e",
          "75": "c",
          "76": "t",
          "77": "i",
          "78": "v",
          "79": "e",
          "80": "s",
          "81": ",",
          "82": "i",
          "83": "m",
          "84": "a",
          "85": "g",
          "86": "e",
          "87": "_",
          "88": "t",
          "89": "e",
          "90": "x",
          "91": "t",
          "92": ",",
          "93": "v",
          "94": "i",
          "95": "d",
          "96": "e",
          "97": "o",
          "98": "_",
          "99": "u",
          "100": "r",
          "101": "l",
          "102": ",",
          "103": "i",
          "104": "m",
          "105": "a",
          "106": "g",
          "107": "e",
          "108": "_",
          "109": "u",
          "110": "r",
          "111": "l",
          "112": ",",
          "113": "t",
          "114": "h",
          "115": "u",
          "116": "m",
          "117": "b",
          "118": "n",
          "119": "a",
          "120": "i",
          "121": "l",
          "122": "_",
          "123": "u",
          "124": "r",
          "125": "l",
          "126": ",",
          "127": "i",
          "128": "m",
          "129": "a",
          "130": "g",
          "131": "e",
          "132": "_",
          "133": "p",
          "134": "r",
          "135": "o",
          "136": "m",
          "137": "p",
          "138": "t",
          "139": ",",
          "140": "s",
          "141": "t",
          "142": "a",
          "143": "t",
          "144": "u",
          "145": "s",
          "mappingMode": "defineBelow",
          "value": {
            "language_code": "={{ $('Webhook Trigger').first().json.body.target_language }}",
            "content": "={{ $json.output.content }}",
            "image_url": "={{ $('Loop').item.json.image_url }}",
            "videoscript": "={{ $json.output.videoscript }}",
            "status": "draft",
            "image_text": "={{ $json.output.image_text }}",
            "image_prompt": "={{ $('Loop').item.json.image_prompt }}",
            "lesson_id": "={{ $('Loop').item.json.lesson_id }}",
            "exercises": "={{ $json.output.exercises }}",
            "reflection_questions": "={{ $json.output.reflection_questions }}",
            "resources": "={{ $json.output.resources }}"
          },
          "matchingColumns": [
            "lesson_id",
            "language_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lesson_id",
              "displayName": "lesson_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoscript",
              "displayName": "videoscript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gamma_url",
              "displayName": "gamma_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "exercises",
              "displayName": "exercises",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reflection_questions",
              "displayName": "reflection_questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resources",
              "displayName": "resources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_text",
              "displayName": "image_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1af39747-c672-4630-b309-cc6252e08e20",
      "name": "Update Lesson Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3072,
        2176
      ],
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Hent alle items fra den tidligere node \"Translate Module1\"\nconst sourceItems = $(\"Translate Quiz\").all(); // <- ændringen\n\n// Brug en Map til at sikre unikke options baseret på module_question_option_id\nconst uniqueOptions = new Map();\n\nfor (const item of sourceItems) {\n  const questions = item.json?.output?.module_questions ?? [];\n\n  for (const question of questions) {\n    const options = question.options ?? [];\n    for (const option of options) {\n      // Brug module_question_option_id som unik nøgle\n      if (!uniqueOptions.has(option.module_question_option_id)) {\n        uniqueOptions.set(option.module_question_option_id, {\n          module_question_option_id: option.module_question_option_id,\n          option_text: option.option_text,\n          module_question_id: question.module_question_id,\n        });\n      }\n    }\n  }\n}\n\n// Konverter Map til array format som n8n forventer\nconst allOptions = Array.from(uniqueOptions.values()).map(opt => ({ json: opt }));\nreturn allOptions;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        1632
      ],
      "id": "b4d8e094-a57b-4711-b5cb-5f7f0b190691",
      "name": "Code Quiz options"
    },
    {
      "parameters": {
        "jsCode": "// Brug en Map til at sikre unikke questions baseret på module_question_id\nconst uniqueQuestions = new Map();\n\nfor (const item of $input.all()) {\n  const questions = item.json.output.module_questions;\n  \n  for (const question of questions) {\n    // Brug module_question_id som unik nøgle\n    if (!uniqueQuestions.has(question.module_question_id)) {\n      uniqueQuestions.set(question.module_question_id, {\n        module_question_id: question.module_question_id,\n        module_id: question.module_id,\n        question_text: question.question_text,\n        language_code: 'en' // eller hent fra webhook hvis nødvendigt\n      });\n    }\n  }\n}\n\n// Konverter Map til array format som n8n forventer\nconst allQuestions = Array.from(uniqueQuestions.values()).map(q => ({\n  json: q\n}));\n\nreturn allQuestions;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1632
      ],
      "id": "51530bb6-276e-425e-903a-8d082e9b4388",
      "name": "Code Quiz"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional course translator. Translate the provided course module **quiz and quiz options content** from (ISO 639) language **{{ $('Webhook Trigger').first().json.body.source_language }}* to **{{ $('Webhook Trigger').first().json.body.target_language }}** following the guidelines below.\n\n# Course Context\n- **Course Structure:** Course -> **Modules** -> Lessons. We are now working in quiz and quiz options in one module.\n- **Course Title:** {{ $('Translate Course').first().json.output.title }}\n- **Source Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.source_language }}\n- **Target Language (ISO 639) code:** {{ $('Webhook Trigger').first().json.body.target_language }}\n- **Course Description:**\n{{ $('Fetch Course Translation').first().json.description }}\n\n-- **Content of this module:**\n´´´\n{{ $('Update Module Translation').item.json.content }}\n´´´\n\n# Instructions\n1. Translate question_text and option_text in the Quiz-json\n2. Ensure a professional and educational tone throughout.\n3. Keep technical terms in English when appropriate.\n4. Keep all other fields unchanged.\n5. Pay especial attention to keep module_question_id and module_question_option_id unchanged because the workflow will fail if any of these keys are changed.\n\n\n\n\n# Task 1: Translate question_text and option_text in the Quiz-json object:\n{{ JSON.stringify($('AggQuizOrg').item.json.data, null, 2) }}\n\n# Task 2: Ensure that all module_question_id and module_question_option_id are unchanged as the original UUID",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "2001400c-7c47-4276-b5ba-9036d1a3fafb",
      "name": "Translate Quiz",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        1632
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "options": {}
      },
      "id": "9f2390cb-64d4-43d4-9fbd-da46afc852aa",
      "name": "gpt-oss",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3360,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        304,
        2128
      ],
      "id": "b59c05e0-7c18-4652-8c85-badaee0c0dae",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1330d935-3910-4643-ab4c-9e482a32ddd6",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "a93b4cf2-3621-4312-bd20-b09a182c0554",
              "name": "exercises",
              "value": "={{ $json.exercises }}",
              "type": "string"
            },
            {
              "id": "ee547090-a4a8-4af3-808c-95e3952157a7",
              "name": "reflection_questions",
              "value": "={{ $json.reflection_questions }}",
              "type": "string"
            },
            {
              "id": "12fc5d63-7e53-4a2f-93f8-de934c09e1a8",
              "name": "resources",
              "value": "={{ $json.resources }}",
              "type": "string"
            },
            {
              "id": "784232d2-8d95-464c-94eb-b26b0ce5561f",
              "name": "image_text",
              "value": "={{ $json.image_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        2192
      ],
      "id": "8e71dd1f-c115-40d1-8f2a-e2a5a4ac320a",
      "name": "To be translated"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        2112
      ],
      "id": "eb8c90d6-c895-4800-9d7d-013661230992",
      "name": "Loop"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM course_translations WHERE language_code = $1 AND course_id = $2::uuid;\n\nDELETE FROM module_translations mt USING modules m\n  WHERE mt.module_id = m.id AND m.course_id = $2::uuid AND mt.language_code = $1;\n\nDELETE FROM lesson_translations lt USING lessons l, modules m\n  WHERE lt.lesson_id = l.id AND l.module_id = m.id AND m.course_id = $2::uuid AND lt.language_code = $1;\n\nDELETE FROM module_question_translations mqt USING module_questions mq, modules m\n  WHERE mqt.module_question_id = mq.id AND mq.module_id = m.id AND m.course_id = $2::uuid AND mqt.language_code = $1;\n\nDELETE FROM module_question_option_translations mqoot USING module_question_options mqo, module_questions mq, modules m\n  WHERE mqoot.module_question_option_id = mqo.id AND mqo.module_question_id = mq.id AND mq.module_id = m.id\n    AND m.course_id = $2::uuid AND mqoot.language_code = $1;",
        "options": {
          "queryReplacement": "$1 = {{ $json.body.target_language }}, $2 = {{ $json.body.course_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        112
      ],
      "id": "48fc4dde-6f43-48b3-9d06-85bda881394f",
      "name": "Slet tidligere oversættelse",
      "credentials": {
        "postgres": {
          "id": "Vw56OL1mZd8nlif7",
          "name": "Postgres staging account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1296,
        2016
      ],
      "id": "0520ec03-4e65-450e-9b26-84b3f0b06db3",
      "name": "Limit2"
    },
    {
      "parameters": {
        "content": "## target language må aldrig være da!\nDet vil slette kurset!",
        "height": 128,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -352
      ],
      "id": "4f3937ca-ea42-43f7-b9c0-597d8ca62aa8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08ba3fd5-81f9-44f0-b258-71fb42aca0ce",
              "leftValue": "={{($json.body.source_language || \"\").toLowerCase()}}",
              "rightValue": "da",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ffa6a7b8-8a21-451c-9ed7-1623c8549518",
              "leftValue": "={{($json.body.target_language || \"\").toLowerCase()}}",
              "rightValue": "da",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        112
      ],
      "id": "e9eb429f-ae0c-4120-a230-87798e744c33",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={   \"success\": false,   \"message\": \"Kildesproget skal altid være dansk og målsproget må aldrig være dansk. Ret sprogparametrene og prøv igen\" }",
        "options": {}
      },
      "id": "bb23936d-d7a1-405a-85f7-cd5aa14c2a05",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -176,
        544
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Course Info": {
      "main": [
        [
          {
            "node": "Fetch Module Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translate Module",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Translate Quiz",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Translate Lesson",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Translate Course",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Translate Course",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Translate Course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Course Translation": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Course Translation": {
      "main": [
        [
          {
            "node": "Module Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Module Names": {
      "main": [
        [
          {
            "node": "ModuleOrgNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModuleOrgNames": {
      "main": [
        [
          {
            "node": "Fetch Course Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert Module Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lesson Names": {
      "main": [
        [
          {
            "node": "LessonOrgNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonOrgNames": {
      "main": [
        [
          {
            "node": "Fetch Module Questions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Fetch Lesson Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Module Translation": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Course": {
      "main": [
        [
          {
            "node": "Upsert Course Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Translate Module",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Translate Module",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Translate Module": {
      "main": [
        [
          {
            "node": "Update Module Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module Titles": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson Titles": {
      "main": [
        [
          {
            "node": "Split Lesson Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Module Titles": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Module Translation": {
      "main": [
        [
          {
            "node": "Lesson Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Lesson Titles": {
      "main": [
        [
          {
            "node": "Upsert Lesson Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Module Questions1": {
      "main": [
        [
          {
            "node": "QuizOrg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuizOrg": {
      "main": [
        [
          {
            "node": "AggQuizOrg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggQuizOrg": {
      "main": [
        [
          {
            "node": "Fetch Module Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lesson Titles": {
      "main": [
        [
          {
            "node": "Translate Quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Translate Quiz",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upsert quiz": {
      "main": [
        [
          {
            "node": "Code Quiz options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert quiz options": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lesson Org Content": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Translate Lesson",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Translate Lesson": {
      "main": [
        [
          {
            "node": "Update Lesson Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lesson Translation": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Quiz options": {
      "main": [
        [
          {
            "node": "Upsert quiz options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Quiz": {
      "main": [
        [
          {
            "node": "Upsert quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Quiz": {
      "main": [
        [
          {
            "node": "Code Quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Fetch Lesson Org Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To be translated": {
      "main": [
        [
          {
            "node": "Translate Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "To be translated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slet tidligere oversættelse": {
      "main": [
        [
          {
            "node": "Fetch Course Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slet tidligere oversættelse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nQOHb0yI76JVQluc"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "utilco.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "98",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "netlify, deno; s=netlify; d=7P95HnRMpPpyuoCb2GxWQOKZjNNaMenGI-LA3oLLazQ%3D, cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.123.38.109",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "97547910a473d345-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "3.123.38.109, 172.71.172.41",
            "x-forwarded-host": "utilco.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-10-6888ffdd77-9vgr4",
            "x-is-trusted": "yes",
            "x-real-ip": "3.123.38.109",
            "x-webhook-secret": "vczUfUpZhtQkJXFoP6hN"
          },
          "params": {},
          "query": {},
          "body": {
            "course_id": "74f636ab-2998-46f3-aff9-3165f9d1de3b",
            "source_language": "da",
            "target_language": "no"
          },
          "webhookUrl": "https://utilco.app.n8n.cloud/webhook/8dd9f140-9678-44fe-bf75-40a583aa0ca4",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "dd18fc8a-1494-4f14-ad45-f7b43b99f825",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-25T13:20:07.589Z",
      "createdAt": "2025-08-25T13:20:07.589Z",
      "role": "workflow:owner",
      "workflowId": "pyOuC3TZmuw6UgCe",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "activeVersion": null,
  "tags": []
}