utilco/Course questions creator.json
{
  "updatedAt": "2025-12-25T11:28:48.000Z",
  "createdAt": "2025-12-25T08:53:40.131Z",
  "id": "VJUKCG09GhpgdhsU",
  "name": "Course questions creator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"course_id\": \"a string\",\n  \"language_code\": \"da\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        432
      ],
      "id": "3f145795-66d3-415b-909a-4819c9a6e429",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"questions\": [\n    {\n      \"position\": 1,\n      \"question_text\": \"Hvilket af følgende er det primære formål med ISO 55001?\",\n      \"options\": [\n        {\n          \"position\": 1,\n          \"is_correct\": false,\n          \"option_text\": \"At reducere medarbejderantallet i organisationen\"\n        },\n        {\n          \"position\": 2,\n          \"is_correct\": true,\n          \"option_text\": \"At etablere et systematisk asset management system\"\n        },\n        {\n          \"position\": 3,\n          \"is_correct\": false,\n          \"option_text\": \"At øge salget af virksomhedens produkter\"\n        },\n        {\n          \"position\": 4,\n          \"is_correct\": false,\n          \"option_text\": \"At minimere alle former for vedligeholdelse\"\n        }\n      ]\n    },\n    {\n      \"position\": 2,\n      \"question_text\": \"Hvad betyder 'asset' i konteksten af asset management?\",\n      \"options\": [\n        {\n          \"position\": 1,\n          \"is_correct\": false,\n          \"option_text\": \"Kun finansielle investeringer\"\n        },\n        {\n          \"position\": 2,\n          \"is_correct\": false,\n          \"option_text\": \"Udelukkende fysiske maskiner og udstyr\"\n        },\n        {\n          \"position\": 3,\n          \"is_correct\": true,\n          \"option_text\": \"Alt der har værdi for organisationen og dens interessenter\"\n        },\n        {\n          \"position\": 4,\n          \"is_correct\": false,\n          \"option_text\": \"Kun immaterielle rettigheder og patenter\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1216,
        656
      ],
      "id": "55cb9465-2edf-4e64-98f4-0ff4bf93e143",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        768
      ],
      "id": "300f3d51-e3fb-445b-a1c1-fd30b5886c65",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6873bfe8-eee1-4f7f-a5fa-41c6f9190258",
              "name": "options",
              "value": "={{ $('Split Out').item.json.options }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        432
      ],
      "id": "45577353-6776-4ee2-acde-ec327a42a312",
      "name": "Options"
    },
    {
      "parameters": {
        "fieldToSplitOut": "options",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2320,
        432
      ],
      "id": "6a6aead2-335a-41a3-868f-44877ca26c61",
      "name": "Split options"
    },
    {
      "parameters": {
        "tableId": "course_question_option_translations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "course_question_option_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "language_code",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.language_code }}"
            },
            {
              "fieldId": "option_text",
              "fieldValue": "={{ $('Split options').item.json.option_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2768,
        432
      ],
      "id": "7a5a8913-5f58-4b33-9059-d441313d9618",
      "name": "Module question option translation",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.questions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1424,
        432
      ],
      "id": "eb9cfc7f-ae58-4e6d-b6cb-599bd9b6d0c6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\nwhere  v.prompt_id = '9c03241a-5771-408f-9dc7-c9e03ec63a0f'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        432
      ],
      "id": "4317e9f8-a38f-476b-8e78-5accd3d34bef",
      "name": "Get prompt",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Get prompt').item.json.llm }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        656
      ],
      "id": "9e3cb623-09b2-417c-ab8f-b12b065549f3",
      "name": "Open Router",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_course_text_outline_locale('{{ $json.course_id }}', '{{ $json.language_code }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        432
      ],
      "id": "1667e832-78df-42f3-b35e-30c8a807fd14",
      "name": "Hent kursusindhold",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusindhold\n\n{{ $('Hent kursusindhold').item.json.get_course_text_outline_locale }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1072,
        432
      ],
      "id": "cf727565-49ec-4787-9b96-851a5d3d51f0",
      "name": "Course question creator"
    },
    {
      "parameters": {
        "tableId": "course_questions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "course_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.course_id }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $json.position }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        432
      ],
      "id": "7ece582b-6d2c-4b9b-a9ae-a7326f47876d",
      "name": "Course questions",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "course_question_translations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "course_question_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "language_code",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.language_code }}"
            },
            {
              "fieldId": "question_text",
              "fieldValue": "={{ $('Split Out').item.json.question_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        432
      ],
      "id": "b11c73ca-8ab4-4d96-aa65-4e8ae76235bc",
      "name": "Course question translation",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "course_question_options",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "course_question_id",
              "fieldValue": "={{ $('Course questions').item.json.id }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $json.position }}"
            },
            {
              "fieldId": "is_correct",
              "fieldValue": "={{ $json.is_correct }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        432
      ],
      "id": "d342240a-0100-445a-a0ab-6919ac41266a",
      "name": "Course question options",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM course_questions WHERE course_id = '{{ $('When Executed by Another Workflow').item.json.course_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        432
      ],
      "id": "1448f8f7-c48e-4220-9ae9-4d151477cd18",
      "name": "Slet gamle kursusspørgsmål",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Hent kursusindhold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Course question creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Options": {
      "main": [
        [
          {
            "node": "Split options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split options": {
      "main": [
        [
          {
            "node": "Course question options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module question option translation": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Course questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Course question creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router": {
      "ai_languageModel": [
        [
          {
            "node": "Course question creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hent kursusindhold": {
      "main": [
        [
          {
            "node": "Slet gamle kursusspørgsmål",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course question creator": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course questions": {
      "main": [
        [
          {
            "node": "Course question translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course question translation": {
      "main": [
        [
          {
            "node": "Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course question options": {
      "main": [
        [
          {
            "node": "Module question option translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slet gamle kursusspørgsmål": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "course_id": "beb3e070-90a5-4847-ac8a-6dca5eb2d6e0",
          "language_code": "da"
        }
      }
    ]
  },
  "versionId": "fe499624-d7a6-46c1-8e55-99b0957f3036",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-25T08:53:40.137Z",
      "createdAt": "2025-12-25T08:53:40.137Z",
      "role": "workflow:owner",
      "workflowId": "VJUKCG09GhpgdhsU",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-03-18T13:45:14.553Z",
      "createdAt": "2025-03-18T13:45:14.553Z",
      "id": "6pOUCPP24FxgjbZJ",
      "name": "Kursus"
    }
  ]
}