utilco/Fælles workflow.json
{
  "createdAt": "2025-02-27T08:45:38.954Z",
  "updatedAt": "2025-03-06T15:55:47.000Z",
  "id": "WNLhMgceqYvWFvgr",
  "name": "Fælles workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b4c2e68a-8b5e-4405-b289-a2641c09dd2e",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1760,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3080,
        20
      ],
      "id": "99d42d2b-0148-4320-893f-f5616bb9dc6c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d61fa4b-1dbd-44cb-93e7-f4165f642e43",
              "name": "city_id",
              "value": "tavira",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2840,
        20
      ],
      "id": "a8eb8927-4d54-448a-8bee-afd52459f8dd",
      "name": "Set city_id"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "city_id",
                "value": "={{ $('Set city_id').item.json.city_id }}"
              },
              {
                "name": "file_type",
                "value": "binary"
              }
            ]
          }
        }
      },
      "id": "0c7eabea-f406-4af1-9e4b-7f283079fcce",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        140,
        680
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e273e52a-5a69-4376-8466-3e0181b2f903",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -20,
        660
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 400,
        "options": {}
      },
      "id": "d0a35990-5c8c-42e5-8023-dbb10321fba3",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        180,
        880
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "92b82c23-d770-4b3a-838a-bdc5a5bc23be",
      "name": "binary supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -20,
        460
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
          "mode": "list",
          "cachedResultName": "RAG Storage",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        720
      ],
      "id": "26743aa5-ef6e-4a92-a062-24d9dbffa662",
      "name": "Move to RAG Storage2",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2000,
        20
      ],
      "id": "64f86d1e-c51b-4ebe-bcd9-2adf8ae9197f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT",
          "mode": "list",
          "cachedResultName": "RAG Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        640
      ],
      "id": "fcf5cc40-9ec7-4b62-8c26-b54393751f44",
      "name": "Move to RAG Unprocessed",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b8b7b6-d4b9-48e6-9a2e-60da64f7997c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        460
      ],
      "id": "c013ab46-a172-4997-9b23-923a43dcbd8e",
      "name": "If isempty"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b9486f3f-9fb9-4ffd-98db-ba8e0853a740",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -780,
        80
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3c6fe92b-1aef-46e7-9571-a13912fd1a91",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -580,
        80
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f57f313b-0cb8-47fd-a180-23c2a2b5a526",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -980,
        -260
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "685bbf3b-08fd-46d5-8b14-90791bd719ec",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -980,
        80
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        100,
        120
      ],
      "id": "fef986bb-1d87-4591-b835-56f0815de295",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ],
      "id": "0ecca7c4-2239-4d10-8b5a-227ebc4e07a6",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID1').item.json.file_id }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('Get RAG Inbox').item.json.modifiedTime }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Get RAG Inbox').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Loop Over Items').item.json.file_type }}"
              },
              {
                "name": "city_id",
                "value": "={{ $('Set city_id').item.json.city_id }}"
              }
            ]
          }
        }
      },
      "id": "1b35adab-7fbb-4067-942d-9d992f3cdc50",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        20,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c9346a82-c131-4d61-b8da-6e362dc99fbd",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -980,
        -100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f85e5896-d3bc-459b-9bb4-1cec995363ae",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1560,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "3fd8140d-dc6e-4c13-a6e7-1116edb490c7",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -160,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('Get RAG Inbox').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('Get RAG Inbox').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bd1c08d2-4f9e-4587-9355-3929a2879ad9",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2340,
        20
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12U_typ9QZfgkVw8PKsOAFj19OB0Z40IO",
            "mode": "list",
            "cachedResultName": "RAG Inbox",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12U_typ9QZfgkVw8PKsOAFj19OB0Z40IO"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2580,
        20
      ],
      "id": "a44efc70-be10-492a-b4fc-cd9bef29191a",
      "name": "Get RAG Inbox"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cleanText = (text) => {\n  if (!text) return '';\n  \n  return text\n    // Remove null characters and their escape sequences\n    .replace(/\\u0000/g, '')\n    .replace(/\\\\u0000/g, '')\n    // Remove non-ASCII characters and their escape sequences\n    .replace(/[^\\x00-\\x7F]/g, '')\n    .replace(/\\\\u[\\dA-Fa-f]{4}/g, '')\n    // Remove multiple spaces\n    .replace(/\\s+/g, ' ')\n    // Remove multiple newlines\n    .replace(/\\n+/g, '\\n')\n    // Trim whitespace\n    .trim();\n};\n\nreturn items.map(item => {\n  if (item.json && item.json.text) {\n    item.json.text = cleanText(item.json.text);\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -340
      ],
      "id": "5bfa0c52-9577-4417-bc1b-59753c50325c",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75732e4a-c551-43ef-966b-618b20a2ab5f",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -760,
        -260
      ],
      "id": "d2e6b4ed-8373-40de-8c22-6092d0328841",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
          "mode": "list",
          "cachedResultName": "RAG Storage",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        -200
      ],
      "id": "4fe3f4ff-b35f-4bce-9264-ff6ce3c755a6",
      "name": "Move to RAG Storage",
      "alwaysOutputData": false,
      "executeOnce": true
    }
  ],
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set city_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set city_id": {
      "main": [
        [
          {
            "node": "Get RAG Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "binary supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "binary supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "binary supabase": {
      "main": [
        [
          {
            "node": "If isempty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to RAG Storage2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If isempty": {
      "main": [
        [
          {
            "node": "Move to RAG Unprocessed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to RAG Storage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore1": {
      "main": [
        [
          {
            "node": "Move to RAG Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Inbox": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "binary supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to RAG Storage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1c525066-447d-417a-a028-6f2edef9813c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-02-27T08:45:38.958Z",
      "updatedAt": "2025-02-27T08:45:38.958Z",
      "role": "workflow:owner",
      "workflowId": "WNLhMgceqYvWFvgr",
      "projectId": "amlePLldrdBTzDyr"
    }
  ],
  "tags": []
}