utilco/Kursuscockpit.json
{
  "updatedAt": "2025-12-25T10:14:56.000Z",
  "createdAt": "2025-05-26T09:15:58.847Z",
  "id": "cIyAT2GKM5Ng1Wwa",
  "name": "Kursuscockpit",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZOTTc7BFoxlnLyvP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "course_id": "={{ $('Course id').first().json.course_id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "course_id",
              "displayName": "course_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3280,
        1216
      ],
      "id": "681d0b70-4333-4da9-9e39-60dead0056cd",
      "name": "Course creation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qWxRPLsazbaV2TpV",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "courses_id": "={{ $('Course id').first().json.course_id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}"
          },
          "matchingColumns": [
            "courses_id"
          ],
          "schema": [
            {
              "id": "courses_id",
              "displayName": "courses_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3504,
        1216
      ],
      "id": "63806f42-4a1d-4203-9a5b-c89fa82777b0",
      "name": "Module creator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c5109d4-dc99-4cde-a5c6-9b4a58a41175",
              "name": "course_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        1232
      ],
      "id": "2569b1a8-6d50-43e3-aa54-b473d3b4d981",
      "name": "Course id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JFxTvX4GDNqmUX0R",
          "mode": "list",
          "cachedResultUrl": "/workflow/JFxTvX4GDNqmUX0R",
          "cachedResultName": "My project — Lessons creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "module_id": "={{ $('Module creator').item.json.module_id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}",
            "generationStage": "={{ $('Course type').item.json.generationStage }}"
          },
          "matchingColumns": [
            "module_id"
          ],
          "schema": [
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "generationStage",
              "displayName": "generationStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3728,
        1216
      ],
      "id": "b02579fc-e2d0-4625-ba29-2c075ce2b173",
      "name": "Lesson creator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3280,
        1408
      ],
      "id": "02937a44-6c78-4234-97df-46125ad9b514",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cgya94OU6IhFm58p",
          "mode": "list",
          "cachedResultUrl": "/workflow/cgya94OU6IhFm58p",
          "cachedResultName": "My project — Module questions creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "module_id": "={{ $json.id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}"
          },
          "matchingColumns": [
            "module_id"
          ],
          "schema": [
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4608,
        1328
      ],
      "id": "a6c60a3f-0338-402f-9614-87b3bb4e0646",
      "name": "Module question creator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id from modules where course_id = '{{ $('Course id').first().json.course_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3952,
        1408
      ],
      "id": "ea7a87af-e4dd-4306-857e-ffea631753df",
      "name": "Get module id",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1936,
        816
      ],
      "id": "a214051f-c394-4901-b0b4-dade44b87306",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TM4BtRHM82JhtiIH",
          "mode": "list",
          "cachedResultName": "My project — Case creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "courses_id": "={{ $('Course id').first().json.course_id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}"
          },
          "matchingColumns": [
            "courses_id"
          ],
          "schema": [
            {
              "id": "courses_id",
              "displayName": "courses_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3504,
        1408
      ],
      "id": "2498f7a5-a77c-490a-86e4-8d7927022b91",
      "name": "Case creator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id from courses where status = 'next'\nlimit 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        1232
      ],
      "id": "b0136059-5041-40df-84da-7c5aae7fe683",
      "name": "Get course_id",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update courses set status = 'draft' where id = '{{ $('Course id').first().json.course_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4608,
        1136
      ],
      "id": "5a166a53-ebbe-444f-822f-2b9d9686703f",
      "name": "Updata course status = draft",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Fv40Y9vCdSfzaWAU",
          "mode": "list",
          "cachedResultName": "My project — Deep research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "course_id": "={{ $json.course_id }}"
          },
          "matchingColumns": [
            "course_id"
          ],
          "schema": [
            {
              "id": "course_id",
              "displayName": "course_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2832,
        1232
      ],
      "id": "d5476ce4-c43f-4561-87b7-57f58e768d09",
      "name": "Deep Research",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4176,
        1408
      ],
      "id": "d12c1866-ae53-4e96-b015-118fd7179531",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4832,
        1328
      ],
      "id": "2596facc-a6e0-4853-8db2-f34d63cce721",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3728,
        1408
      ],
      "id": "adba7b7e-3c57-4003-8d3d-8dfe0d875816",
      "name": "Limit2"
    },
    {
      "parameters": {
        "content": "## Angiv course_type\n- Default\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        1456
      ],
      "id": "46319d74-794f-4183-ab3b-9b7fa41fdcfc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "966ba950-b515-4972-9393-3c9b00a48654",
              "name": "course_type",
              "value": "Default",
              "type": "string"
            },
            {
              "id": "a7f03eef-ca72-4031-8701-21190504bded",
              "name": "generationStage",
              "value": "={{ $json.body.generationStage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1232
      ],
      "id": "388dcf52-f39b-4a2c-b7f4-b76bab396bb6",
      "name": "Course type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0bc0adf-07a0-4c29-af4d-f88d9910d16a",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1936,
        1136
      ],
      "id": "a0bdaba4-bf00-44a1-ba30-c5e56257f239",
      "name": "Webhook",
      "webhookId": "d0bc0adf-07a0-4c29-af4d-f88d9910d16a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WwlGKLCrVwJHzSyW",
          "name": "Academy webhook"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "processing",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0c218a3f-d61b-43f3-8e63-89e1f062dc09",
      "name": "Early Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        1040
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e6ea6e80-464f-4c28-a250-59443cb9e11b",
      "name": "Early Respond with ExecutionId",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2384,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Course type').item.json.generationStage }}",
              "rightValue": "fase1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d177b3a-9842-48cd-9be8-d1e7d6c9011f",
      "name": "Check if fase1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        1232
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JFxTvX4GDNqmUX0R",
          "mode": "list",
          "cachedResultUrl": "/workflow/JFxTvX4GDNqmUX0R",
          "cachedResultName": "My project — Lessons creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "module_id": "={{ $('Loop Over Items').item.json.id }}",
            "course_type": "={{ $('Course type').item.json.course_type }}",
            "generationStage": "={{ $('Course type').item.json.generationStage }}"
          },
          "matchingColumns": [
            "module_id"
          ],
          "schema": [
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "course_type",
              "displayName": "course_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "generationStage",
              "displayName": "generationStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5056,
        1328
      ],
      "id": "43614b78-9cad-43ea-aa1b-0331384f109f",
      "name": "Lesson creator1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5280,
        1408
      ],
      "id": "f0895688-855f-4354-873a-d253ccfef671",
      "name": "Limit3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VJUKCG09GhpgdhsU",
          "mode": "list",
          "cachedResultUrl": "/workflow/VJUKCG09GhpgdhsU",
          "cachedResultName": "My project — Course questions creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "course_id": "={{ $('Course id').item.json.course_id }}",
            "language_code": "={{ $('Webhook').item.json.body.locale }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "course_id",
              "displayName": "course_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "language_code",
              "displayName": "language_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4384,
        1184
      ],
      "id": "d593733b-738b-4af7-9cee-359375f66101",
      "name": "Call 'Course questions creator'"
    }
  ],
  "connections": {
    "Course creation": {
      "main": [
        [
          {
            "node": "Module creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module creator": {
      "main": [
        [
          {
            "node": "Lesson creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course id": {
      "main": [
        [
          {
            "node": "Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson creator": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Case creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module question creator": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get module id": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case creator": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course_id": {
      "main": [
        [
          {
            "node": "Course id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Call 'Course questions creator'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Module question creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Lesson creator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Get module id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Course type": {
      "main": [
        [
          {
            "node": "Get course_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Early Response Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Course type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Response Data": {
      "main": [
        [
          {
            "node": "Early Respond with ExecutionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep Research": {
      "main": [
        [
          {
            "node": "Check if fase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if fase1": {
      "main": [
        [
          {
            "node": "Course creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson creator1": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Course questions creator'": {
      "main": [
        [
          {
            "node": "Updata course status = draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "utilco.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "130",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "netlify, cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.73.50.105",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9b2e31d4d3aae282-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "3.73.50.105, 104.23.239.58",
            "x-forwarded-host": "utilco.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-10-6888ffdd77-9vgr4",
            "x-is-trusted": "yes",
            "x-real-ip": "3.73.50.105",
            "x-webhook-secret": "vczUfUpZhtQkJXFoP6hN"
          },
          "params": {},
          "query": {},
          "body": {
            "courseId": "beb3e070-90a5-4847-ac8a-6dca5eb2d6e0",
            "locale": "da",
            "generationStage": "fase2",
            "timestamp": "2025-12-24T06:55:42.801Z"
          },
          "webhookUrl": "https://utilco.app.n8n.cloud/webhook/d0bc0adf-07a0-4c29-af4d-f88d9910d16a",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "b058cd6d-de7e-4fa9-a347-abc29dfc159b",
  "activeVersionId": "b058cd6d-de7e-4fa9-a347-abc29dfc159b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-26T09:15:58.853Z",
      "createdAt": "2025-05-26T09:15:58.853Z",
      "role": "workflow:owner",
      "workflowId": "cIyAT2GKM5Ng1Wwa",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-25T10:14:56.296Z",
    "createdAt": "2025-12-25T10:14:56.296Z",
    "versionId": "b058cd6d-de7e-4fa9-a347-abc29dfc159b",
    "workflowId": "cIyAT2GKM5Ng1Wwa",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZOTTc7BFoxlnLyvP",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "course_id": "={{ $('Course id').first().json.course_id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "course_id",
                "displayName": "course_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3280,
          1216
        ],
        "id": "681d0b70-4333-4da9-9e39-60dead0056cd",
        "name": "Course creation"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qWxRPLsazbaV2TpV",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "courses_id": "={{ $('Course id').first().json.course_id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}"
            },
            "matchingColumns": [
              "courses_id"
            ],
            "schema": [
              {
                "id": "courses_id",
                "displayName": "courses_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3504,
          1216
        ],
        "id": "63806f42-4a1d-4203-9a5b-c89fa82777b0",
        "name": "Module creator"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c5109d4-dc99-4cde-a5c6-9b4a58a41175",
                "name": "course_id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2608,
          1232
        ],
        "id": "2569b1a8-6d50-43e3-aa54-b473d3b4d981",
        "name": "Course id"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JFxTvX4GDNqmUX0R",
            "mode": "list",
            "cachedResultUrl": "/workflow/JFxTvX4GDNqmUX0R",
            "cachedResultName": "My project — Lessons creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "module_id": "={{ $('Module creator').item.json.module_id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}",
              "generationStage": "={{ $('Course type').item.json.generationStage }}"
            },
            "matchingColumns": [
              "module_id"
            ],
            "schema": [
              {
                "id": "module_id",
                "displayName": "module_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "generationStage",
                "displayName": "generationStage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3728,
          1216
        ],
        "id": "b02579fc-e2d0-4625-ba29-2c075ce2b173",
        "name": "Lesson creator"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          3280,
          1408
        ],
        "id": "02937a44-6c78-4234-97df-46125ad9b514",
        "name": "Limit"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cgya94OU6IhFm58p",
            "mode": "list",
            "cachedResultUrl": "/workflow/cgya94OU6IhFm58p",
            "cachedResultName": "My project — Module questions creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "module_id": "={{ $json.id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}"
            },
            "matchingColumns": [
              "module_id"
            ],
            "schema": [
              {
                "id": "module_id",
                "displayName": "module_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          4608,
          1328
        ],
        "id": "a6c60a3f-0338-402f-9614-87b3bb4e0646",
        "name": "Module question creator"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select id from modules where course_id = '{{ $('Course id').first().json.course_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3952,
          1408
        ],
        "id": "ea7a87af-e4dd-4306-857e-ffea631753df",
        "name": "Get module id",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "id",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1936,
          816
        ],
        "id": "a214051f-c394-4901-b0b4-dade44b87306",
        "name": "Split Out"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "TM4BtRHM82JhtiIH",
            "mode": "list",
            "cachedResultName": "My project — Case creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "courses_id": "={{ $('Course id').first().json.course_id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}"
            },
            "matchingColumns": [
              "courses_id"
            ],
            "schema": [
              {
                "id": "courses_id",
                "displayName": "courses_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3504,
          1408
        ],
        "id": "2498f7a5-a77c-490a-86e4-8d7927022b91",
        "name": "Case creator"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select id from courses where status = 'next'\nlimit 1",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2384,
          1232
        ],
        "id": "b0136059-5041-40df-84da-7c5aae7fe683",
        "name": "Get course_id",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "update courses set status = 'draft' where id = '{{ $('Course id').first().json.course_id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4608,
          1136
        ],
        "id": "5a166a53-ebbe-444f-822f-2b9d9686703f",
        "name": "Updata course status = draft",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Fv40Y9vCdSfzaWAU",
            "mode": "list",
            "cachedResultName": "My project — Deep research"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "course_id": "={{ $json.course_id }}"
            },
            "matchingColumns": [
              "course_id"
            ],
            "schema": [
              {
                "id": "course_id",
                "displayName": "course_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2832,
          1232
        ],
        "id": "d5476ce4-c43f-4561-87b7-57f58e768d09",
        "name": "Deep Research",
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4176,
          1408
        ],
        "id": "d12c1866-ae53-4e96-b015-118fd7179531",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4832,
          1328
        ],
        "id": "2596facc-a6e0-4853-8db2-f34d63cce721",
        "name": "Limit1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          3728,
          1408
        ],
        "id": "adba7b7e-3c57-4003-8d3d-8dfe0d875816",
        "name": "Limit2"
      },
      {
        "parameters": {
          "content": "## Angiv course_type\n- Default\n"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2000,
          1456
        ],
        "id": "46319d74-794f-4183-ab3b-9b7fa41fdcfc",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "966ba950-b515-4972-9393-3c9b00a48654",
                "name": "course_type",
                "value": "Default",
                "type": "string"
              },
              {
                "id": "a7f03eef-ca72-4031-8701-21190504bded",
                "name": "generationStage",
                "value": "={{ $json.body.generationStage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          1232
        ],
        "id": "388dcf52-f39b-4a2c-b7f4-b76bab396bb6",
        "name": "Course type"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d0bc0adf-07a0-4c29-af4d-f88d9910d16a",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1936,
          1136
        ],
        "id": "a0bdaba4-bf00-44a1-ba30-c5e56257f239",
        "name": "Webhook",
        "webhookId": "d0bc0adf-07a0-4c29-af4d-f88d9910d16a",
        "credentials": {
          "httpHeaderAuth": {
            "id": "WwlGKLCrVwJHzSyW",
            "name": "Academy webhook"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id-1",
                "name": "executionId",
                "value": "={{ $execution.id }}",
                "type": "string"
              },
              {
                "id": "id-2",
                "name": "status",
                "value": "processing",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0c218a3f-d61b-43f3-8e63-89e1f062dc09",
        "name": "Early Response Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          1040
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "e6ea6e80-464f-4c28-a250-59443cb9e11b",
        "name": "Early Respond with ExecutionId",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2384,
          1040
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "id-1",
                "leftValue": "={{ $('Course type').item.json.generationStage }}",
                "rightValue": "fase1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5d177b3a-9842-48cd-9be8-d1e7d6c9011f",
        "name": "Check if fase1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3056,
          1232
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JFxTvX4GDNqmUX0R",
            "mode": "list",
            "cachedResultUrl": "/workflow/JFxTvX4GDNqmUX0R",
            "cachedResultName": "My project — Lessons creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "module_id": "={{ $('Loop Over Items').item.json.id }}",
              "course_type": "={{ $('Course type').item.json.course_type }}",
              "generationStage": "={{ $('Course type').item.json.generationStage }}"
            },
            "matchingColumns": [
              "module_id"
            ],
            "schema": [
              {
                "id": "module_id",
                "displayName": "module_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "course_type",
                "displayName": "course_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "generationStage",
                "displayName": "generationStage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          5056,
          1328
        ],
        "id": "43614b78-9cad-43ea-aa1b-0331384f109f",
        "name": "Lesson creator1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          5280,
          1408
        ],
        "id": "f0895688-855f-4354-873a-d253ccfef671",
        "name": "Limit3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "VJUKCG09GhpgdhsU",
            "mode": "list",
            "cachedResultUrl": "/workflow/VJUKCG09GhpgdhsU",
            "cachedResultName": "My project — Course questions creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "course_id": "={{ $('Course id').item.json.course_id }}",
              "language_code": "={{ $('Webhook').item.json.body.locale }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "course_id",
                "displayName": "course_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "language_code",
                "displayName": "language_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4384,
          1184
        ],
        "id": "d593733b-738b-4af7-9cee-359375f66101",
        "name": "Call 'Course questions creator'"
      }
    ],
    "connections": {
      "Course creation": {
        "main": [
          [
            {
              "node": "Module creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Module creator": {
        "main": [
          [
            {
              "node": "Lesson creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Course id": {
        "main": [
          [
            {
              "node": "Deep Research",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson creator": {
        "main": [
          []
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Case creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Module question creator": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get module id": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Case creator": {
        "main": [
          [
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get course_id": {
        "main": [
          [
            {
              "node": "Course id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Call 'Course questions creator'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Module question creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Lesson creator1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit2": {
        "main": [
          [
            {
              "node": "Get module id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Course type": {
        "main": [
          [
            {
              "node": "Get course_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Early Response Data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Course type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Early Response Data": {
        "main": [
          [
            {
              "node": "Early Respond with ExecutionId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deep Research": {
        "main": [
          [
            {
              "node": "Check if fase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if fase1": {
        "main": [
          [
            {
              "node": "Course creation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson creator1": {
        "main": [
          [
            {
              "node": "Limit3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Course questions creator'": {
        "main": [
          [
            {
              "node": "Updata course status = draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Flemming Berthelsen",
    "name": null,
    "description": null
  },
  "tags": [
    {
      "updatedAt": "2025-03-18T13:45:14.553Z",
      "createdAt": "2025-03-18T13:45:14.553Z",
      "id": "6pOUCPP24FxgjbZJ",
      "name": "Kursus"
    }
  ]
}