utilco/Lessons creator.json
{
  "updatedAt": "2025-12-24T08:23:01.000Z",
  "createdAt": "2025-05-23T12:23:10.568Z",
  "id": "JFxTvX4GDNqmUX0R",
  "name": "Lessons creator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"module_id\": \"a string\",\n  \"course_type\": \"course type\",\n  \"generationStage\": \"fase1\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        1124
      ],
      "id": "12cb3263-719f-4819-a733-a35b12166cf4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "courses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.course_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        1124
      ],
      "id": "c056b915-09c4-4ff7-bc22-ec78a1333ced",
      "name": "Get course",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "course_translations",
        "filters": {
          "conditions": [
            {
              "keyName": "course_id",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "language_code",
              "keyValue": "={{ $json.language_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        1124
      ],
      "id": "991202ef-f1c9-49a9-b6aa-4b8da1b1587a",
      "name": "Get course content",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        1124
      ],
      "id": "df76781b-a665-46e3-9801-c74404ee0e19",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        0,
        1444
      ],
      "id": "9e0b87ab-208d-4015-9f9c-03d174c3035c",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "hvw52FHiqSCDBq6Q",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "modules",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.module_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        1124
      ],
      "id": "6ad22f16-9626-46cd-a7e0-aaf5067e71ac",
      "name": "Get module",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "module_translations",
        "filters": {
          "conditions": [
            {
              "keyName": "module_id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.module_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        1124
      ],
      "id": "6833734e-b3d7-4642-acd1-b54ad4390a5e",
      "name": "Get module content",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lessons",
        "filters": {
          "conditions": [
            {
              "keyName": "module_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.module_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        1124
      ],
      "id": "df58ded4-e98b-4d6f-a591-6862e2c74ba1",
      "name": "Get lessons_id",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "lesson_translations",
        "filters": {
          "conditions": [
            {
              "keyName": "lesson_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        1124
      ],
      "id": "4c267e3a-25af-4a18-b137-7718c0524bbf",
      "name": "Get lessons_title",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulindhold: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\n\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nLektionsindhold: {{ $json.text }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "# Rolle\nDu er en professionel manuskriptforfatter specialiseret i instruktionsvideoer til e-learning.\n\n# Input\n- lektionsindhold: (Markdown-tekst med komplet lektionsindhold fra forrige agent)\n- lektionstitel: (Navn på den aktuelle lektion)\n- modulnavn: (Navn på det overordnede modul)\n- lektionsnummer: (Nummer i rækken af lektioner)\n- totalt_antal_lektioner: (Samlet antal lektioner i modulet)\n\n# Opgave\nSkriv et videomanuskript til en **3-4 minutters introduktionsvideo** opdelt i cirka **6 scener**.\n\nFor hver scene skal du levere:\n1. **Scene-titel**\n2. **Speak-tekst** (2-4 korte, mundrette sætninger som instruktøren siger)\n3. **Understøttende visuelle elementer** – 2-4 bullets med tekst, grafik eller animationer som vises på skærmen\n\n# Indhold der SKAL dækkes\n\n**Scene 1-2: Velkomst og kontekst**\n- Scene 1: Direkte til lektionens kerne-indhold\n- Scene 2: Reference til \"hvor vi er\" KORT (max 2 linjer)\n- Fokus: 80% nyt indhold, 20% kontekst/reference\n\n**Scene 3-4: Lektionsindhold**\n- Præsentation af hovedemner (baseret på sektionerne i lektionsindholdet)\n- Konkrete eksempler på hvad deltageren lærer\n- Praktisk anvendelse af stoffet\n\n**Scene 5: Læringsmål**\n- De vigtigste læringsmål (uddrag fra lektionens læringsmål)\n- Hvad deltageren konkret kan efter lektionen\n\n**Scene 6: Call-to-action**\n- Motiverende opsummering\n- Opfordring til at læse lektionsteksten grundigt\n- Reminder om øvelser og refleksionsspørgsmål\n\n# Sprogkrav – tal direkte til deltageren\n\n**Brug et naturligt, instruerende sprog:**\n- Henvendelse direkte til \"du\" eller \"I\"\n- Aktive formuleringer: \"Nu skal vi se på...\" frem for \"Der vil blive gennemgået...\"\n- Konkrete eksempler frem for abstrakte begreber\n\n**Undgå:**\n- Buzzwords og corporate-speak\n- Lange, komplicerede sætninger (max 15-20 ord)\n- Overdreven entusiasme eller salgssprog\n- Engelske termer hvor danske findes\n\n**Vælg i stedet:**\n- \"Du lærer\" frem for \"Du vil opnå kompetencer inden for\"\n- \"Praktiske eksempler\" frem for \"best practice cases\"\n- \"Øvelser\" frem for \"hands-on aktiviteter\"\n\n# Format\nSvar kun med Markdown som nedenfor:\n\n```markdown\n### Scene 1 – <titel>\n**Speak:** <tekst>\n\n**Vis på skærmen:**\n* punkt 1\n* punkt 2\n* punkt 3\n\n### Scene 2 – <titel>\n**Speak:** <tekst>\n\n**Vis på skærmen:**\n* punkt 1\n* punkt 2\n* punkt 3\n\n[...fortsæt til Scene 6]\n---\n#Vigtige noter\n\nHold speak-teksten kort og præcis – husk det skal kunne siges naturligt\nVisuelle elementer skal understøtte, ikke gentage speak\nSkab en rød tråd gennem alle scener\nAfslut med energi og motivation til at gå i gang med lektionen"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        0,
        320
      ],
      "id": "424b893f-2f5f-4f70-965d-7fdf1e1e123a",
      "name": "Lesson videotekst creator",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  (select count(*)\n     from modules\n     where course_id = '{{ $(\"Get course\").item.json.id }}')  as no_of_modules,\n  (select count(*)\n     from lessons\n     where module_id = '{{ $json.module_id }}')              as no_of_lessons;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        1124
      ],
      "id": "3cb1d80b-6e01-4e2f-8eb7-a1da276c3eb0",
      "name": "Get no of modules and lessons",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lesson_translations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lesson_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.lesson_id }}"
            },
            {
              "keyName": "language_code",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.language_code }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "exercises",
              "fieldValue": "={{ $('Lesson Exercises Creator').item.json.text }}"
            },
            {
              "fieldId": "reflection_questions",
              "fieldValue": "={{ $('Lesson Reflection Questions').item.json.text }}"
            },
            {
              "fieldId": "resources",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3968,
        1220
      ],
      "id": "254b3be7-b972-48fe-8922-71c784c2ac13",
      "name": "Update lessons translation",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        1860
      ],
      "id": "451ad9bd-b57c-4875-b24b-87056331fc9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"content\": \"## Introduktion\\n...\\n\",\n  \"exercises\": \"### Øvelse 1\\n...\\n\",\n  \"reflection_questions\": \"- Hvad er forskellen på...\\n\",\n  \"resources\": \"- [Postman guide](https://...): Kort beskrivelse\\n...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        0,
        2068
      ],
      "id": "799c8b13-74e8-4465-b120-822fd5a6003a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "google/gemini-2.5-pro"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        1652
      ],
      "id": "06ef9691-571e-4a40-9bf3-28a089644fac",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get prompt1').item.json.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2464,
        1048
      ],
      "id": "373eae15-4bc9-43a1-9940-bc3983806eff",
      "name": "Lesson Exercises Creator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Get lessons_title').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nAntal ord pr lektion: {{ $('Get course').item.json.no_of_words_per_lesson }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get prompt').item.json.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2464,
        544
      ],
      "id": "cc664d61-3f78-4fd9-ba91-6764eb720c6e",
      "name": "Lesson Content Creator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n\nLektions øvelser: {{ $('Lesson Exercises Creator').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get prompt2').item.json.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3040,
        1048
      ],
      "id": "d621bfe2-efed-4553-8bdf-f4e03a7e83a5",
      "name": "Lesson Reflection Questions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get prompt3').item.json.content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3616,
        1048
      ],
      "id": "465791b8-9b2f-47bc-b9f3-e989759395ff",
      "name": "Lesson Resources"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = '530d49da-32d4-4331-91d9-e4eafaa0e954'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        648
      ],
      "id": "921af7bc-67cc-4099-99dd-d3a078c033cb",
      "name": "Get prompt",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Get prompt').item.json.llm }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2536,
        768
      ],
      "id": "6a59f8d2-10c1-407c-84de-76a88aaaf513",
      "name": "Open Router",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = '85fd53ab-4f6c-41ad-9439-c48d1b332d36'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        1048
      ],
      "id": "122f5d90-9b08-42ae-8d46-b083a1f87607",
      "name": "Get prompt1",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Get prompt1').item.json.llm }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2536,
        1272
      ],
      "id": "1ec52c08-34d0-4528-9da7-79b560afd6c2",
      "name": "Open Router1",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = 'd331760c-779a-4d83-afef-7d4b8889fe59'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2816,
        1048
      ],
      "id": "a3f1a99d-9b2d-468d-a0fa-9d21cc806fee",
      "name": "Get prompt2",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Get prompt2').item.json.llm }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3112,
        1272
      ],
      "id": "c8e190fb-94e6-428f-8f2a-77aa31f0ec43",
      "name": "Open Router2",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = 'c79be916-7f6c-44b3-aa08-18554ffa694d'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3392,
        1048
      ],
      "id": "ee923c4b-3cce-40f2-a8e4-e4f1d86d5832",
      "name": "Get prompt3",
      "credentials": {
        "postgres": {
          "id": "RUVxlMmZvsZC2IGe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Get prompt2').item.json.llm }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3688,
        1272
      ],
      "id": "b9c6d5d9-aff8-4e77-8b01-db5736cf9fd2",
      "name": "Open Router3",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.generationStage }}",
              "rightValue": "fase1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a78d33f-5a45-4b40-aacb-0b329ad45a3a",
      "name": "Check if fase1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        676
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lesson_translations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lesson_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.lesson_id }}"
            },
            {
              "keyName": "language_code",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.language_code }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Lesson Content Creator').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        648
      ],
      "id": "93ba6d35-c482-4a27-b933-04b92fde9aff",
      "name": "Update lessons translation1",
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get module",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course": {
      "main": [
        [
          {
            "node": "Get course content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course content": {
      "main": [
        [
          {
            "node": "Get module content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check if fase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Get module": {
      "main": [
        [
          {
            "node": "Get course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get module content": {
      "main": [
        [
          {
            "node": "Get no of modules and lessons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lessons_id": {
      "main": [
        [
          {
            "node": "Get lessons_title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lessons_title": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get no of modules and lessons": {
      "main": [
        [
          {
            "node": "Get lessons_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson videotekst creator": {
      "main": [
        []
      ]
    },
    "Update lessons translation": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Lesson Exercises Creator": {
      "main": [
        [
          {
            "node": "Get prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson Content Creator": {
      "main": [
        [
          {
            "node": "Update lessons translation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson Reflection Questions": {
      "main": [
        [
          {
            "node": "Get prompt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson Resources": {
      "main": [
        [
          {
            "node": "Update lessons translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Lesson Content Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router": {
      "ai_languageModel": [
        [
          {
            "node": "Lesson Content Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt1": {
      "main": [
        [
          {
            "node": "Lesson Exercises Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router1": {
      "ai_languageModel": [
        [
          {
            "node": "Lesson Exercises Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt2": {
      "main": [
        [
          {
            "node": "Lesson Reflection Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router2": {
      "ai_languageModel": [
        [
          {
            "node": "Lesson Reflection Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt3": {
      "main": [
        [
          {
            "node": "Lesson Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router3": {
      "ai_languageModel": [
        [
          {
            "node": "Lesson Resources",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if fase1": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lessons translation1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "module_id": "35006f88-9588-4a1d-8b20-3fdeb7c3fd1d",
          "course_type": "Default",
          "generationStage": "fase2"
        }
      }
    ]
  },
  "versionId": "c1ad808b-077d-4b7c-8039-a7e30efb7042",
  "activeVersionId": "c1ad808b-077d-4b7c-8039-a7e30efb7042",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-05-23T12:23:10.573Z",
      "createdAt": "2025-05-23T12:23:10.573Z",
      "role": "workflow:owner",
      "workflowId": "JFxTvX4GDNqmUX0R",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-24T08:23:01.381Z",
    "createdAt": "2025-12-24T08:23:01.381Z",
    "versionId": "c1ad808b-077d-4b7c-8039-a7e30efb7042",
    "workflowId": "JFxTvX4GDNqmUX0R",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"module_id\": \"a string\",\n  \"course_type\": \"course type\",\n  \"generationStage\": \"fase1\"\n}"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          1124
        ],
        "id": "12cb3263-719f-4819-a733-a35b12166cf4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "courses",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.course_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          448,
          1124
        ],
        "id": "c056b915-09c4-4ff7-bc22-ec78a1333ced",
        "name": "Get course",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "course_translations",
          "filters": {
            "conditions": [
              {
                "keyName": "course_id",
                "keyValue": "={{ $json.id }}"
              },
              {
                "keyName": "language_code",
                "keyValue": "={{ $json.language_code }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          672,
          1124
        ],
        "id": "991202ef-f1c9-49a9-b6aa-4b8da1b1587a",
        "name": "Get course content",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1792,
          1124
        ],
        "id": "df76781b-a665-46e3-9801-c74404ee0e19",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-20250514",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4"
          },
          "options": {
            "maxTokensToSample": 4096
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          0,
          1444
        ],
        "id": "9e0b87ab-208d-4015-9f9c-03d174c3035c",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "hvw52FHiqSCDBq6Q",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "modules",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.module_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          224,
          1124
        ],
        "id": "6ad22f16-9626-46cd-a7e0-aaf5067e71ac",
        "name": "Get module",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "module_translations",
          "filters": {
            "conditions": [
              {
                "keyName": "module_id",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.module_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          896,
          1124
        ],
        "id": "6833734e-b3d7-4642-acd1-b54ad4390a5e",
        "name": "Get module content",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "lessons",
          "filters": {
            "conditions": [
              {
                "keyName": "module_id",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.module_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1344,
          1124
        ],
        "id": "df58ded4-e98b-4d6f-a591-6862e2c74ba1",
        "name": "Get lessons_id",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "lesson_translations",
          "filters": {
            "conditions": [
              {
                "keyName": "lesson_id",
                "keyValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1568,
          1124
        ],
        "id": "4c267e3a-25af-4a18-b137-7718c0524bbf",
        "name": "Get lessons_title",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulindhold: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\n\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nLektionsindhold: {{ $json.text }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\n",
          "messages": {
            "messageValues": [
              {
                "message": "# Rolle\nDu er en professionel manuskriptforfatter specialiseret i instruktionsvideoer til e-learning.\n\n# Input\n- lektionsindhold: (Markdown-tekst med komplet lektionsindhold fra forrige agent)\n- lektionstitel: (Navn på den aktuelle lektion)\n- modulnavn: (Navn på det overordnede modul)\n- lektionsnummer: (Nummer i rækken af lektioner)\n- totalt_antal_lektioner: (Samlet antal lektioner i modulet)\n\n# Opgave\nSkriv et videomanuskript til en **3-4 minutters introduktionsvideo** opdelt i cirka **6 scener**.\n\nFor hver scene skal du levere:\n1. **Scene-titel**\n2. **Speak-tekst** (2-4 korte, mundrette sætninger som instruktøren siger)\n3. **Understøttende visuelle elementer** – 2-4 bullets med tekst, grafik eller animationer som vises på skærmen\n\n# Indhold der SKAL dækkes\n\n**Scene 1-2: Velkomst og kontekst**\n- Scene 1: Direkte til lektionens kerne-indhold\n- Scene 2: Reference til \"hvor vi er\" KORT (max 2 linjer)\n- Fokus: 80% nyt indhold, 20% kontekst/reference\n\n**Scene 3-4: Lektionsindhold**\n- Præsentation af hovedemner (baseret på sektionerne i lektionsindholdet)\n- Konkrete eksempler på hvad deltageren lærer\n- Praktisk anvendelse af stoffet\n\n**Scene 5: Læringsmål**\n- De vigtigste læringsmål (uddrag fra lektionens læringsmål)\n- Hvad deltageren konkret kan efter lektionen\n\n**Scene 6: Call-to-action**\n- Motiverende opsummering\n- Opfordring til at læse lektionsteksten grundigt\n- Reminder om øvelser og refleksionsspørgsmål\n\n# Sprogkrav – tal direkte til deltageren\n\n**Brug et naturligt, instruerende sprog:**\n- Henvendelse direkte til \"du\" eller \"I\"\n- Aktive formuleringer: \"Nu skal vi se på...\" frem for \"Der vil blive gennemgået...\"\n- Konkrete eksempler frem for abstrakte begreber\n\n**Undgå:**\n- Buzzwords og corporate-speak\n- Lange, komplicerede sætninger (max 15-20 ord)\n- Overdreven entusiasme eller salgssprog\n- Engelske termer hvor danske findes\n\n**Vælg i stedet:**\n- \"Du lærer\" frem for \"Du vil opnå kompetencer inden for\"\n- \"Praktiske eksempler\" frem for \"best practice cases\"\n- \"Øvelser\" frem for \"hands-on aktiviteter\"\n\n# Format\nSvar kun med Markdown som nedenfor:\n\n```markdown\n### Scene 1 – <titel>\n**Speak:** <tekst>\n\n**Vis på skærmen:**\n* punkt 1\n* punkt 2\n* punkt 3\n\n### Scene 2 – <titel>\n**Speak:** <tekst>\n\n**Vis på skærmen:**\n* punkt 1\n* punkt 2\n* punkt 3\n\n[...fortsæt til Scene 6]\n---\n#Vigtige noter\n\nHold speak-teksten kort og præcis – husk det skal kunne siges naturligt\nVisuelle elementer skal understøtte, ikke gentage speak\nSkab en rød tråd gennem alle scener\nAfslut med energi og motivation til at gå i gang med lektionen"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          0,
          320
        ],
        "id": "424b893f-2f5f-4f70-965d-7fdf1e1e123a",
        "name": "Lesson videotekst creator",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select\n  (select count(*)\n     from modules\n     where course_id = '{{ $(\"Get course\").item.json.id }}')  as no_of_modules,\n  (select count(*)\n     from lessons\n     where module_id = '{{ $json.module_id }}')              as no_of_lessons;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1120,
          1124
        ],
        "id": "3cb1d80b-6e01-4e2f-8eb7-a1da276c3eb0",
        "name": "Get no of modules and lessons",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lesson_translations",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "lesson_id",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.lesson_id }}"
              },
              {
                "keyName": "language_code",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.language_code }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "exercises",
                "fieldValue": "={{ $('Lesson Exercises Creator').item.json.text }}"
              },
              {
                "fieldId": "reflection_questions",
                "fieldValue": "={{ $('Lesson Reflection Questions').item.json.text }}"
              },
              {
                "fieldId": "resources",
                "fieldValue": "={{ $json.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3968,
          1220
        ],
        "id": "254b3be7-b972-48fe-8922-71c784c2ac13",
        "name": "Update lessons translation",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "openai/gpt-4.1",
            "mode": "list",
            "cachedResultName": "openai/gpt-4.1"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          0,
          1860
        ],
        "id": "451ad9bd-b57c-4875-b24b-87056331fc9a",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"content\": \"## Introduktion\\n...\\n\",\n  \"exercises\": \"### Øvelse 1\\n...\\n\",\n  \"reflection_questions\": \"- Hvad er forskellen på...\\n\",\n  \"resources\": \"- [Postman guide](https://...): Kort beskrivelse\\n...\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          0,
          2068
        ],
        "id": "799c8b13-74e8-4465-b120-822fd5a6003a",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "google/gemini-2.5-pro",
            "mode": "list",
            "cachedResultName": "google/gemini-2.5-pro"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          0,
          1652
        ],
        "id": "06ef9691-571e-4a40-9bf3-28a089644fac",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('Get prompt1').item.json.content }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          2464,
          1048
        ],
        "id": "373eae15-4bc9-43a1-9940-bc3983806eff",
        "name": "Lesson Exercises Creator",
        "retryOnFail": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Get lessons_title').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nAntal ord pr lektion: {{ $('Get course').item.json.no_of_words_per_lesson }}\n",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('Get prompt').item.json.content }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          2464,
          544
        ],
        "id": "cc664d61-3f78-4fd9-ba91-6764eb720c6e",
        "name": "Lesson Content Creator"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n\nLektions øvelser: {{ $('Lesson Exercises Creator').item.json.text }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('Get prompt2').item.json.content }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          3040,
          1048
        ],
        "id": "d621bfe2-efed-4553-8bdf-f4e03a7e83a5",
        "name": "Lesson Reflection Questions"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=#Input\n\n##Kursusinformation\n\nKursustitel: {{ $('Get course content').item.json.title }}\n\nKursusniveau: {{ $('Get course').item.json.course_level }}\n\nMålgruppe: {{ $('Get course').item.json.target_audience }}\n\nSprog: {{ $('Get course').item.json.course_language }}\n\nSektor: {{ $('Get course').item.json.sector }}\n\nKursusbeskrivelse: {{ $('Get course content').item.json.description }}\n\nKursusindhold: {{ $('Get course content').item.json.content }}\n\nKursusresearch: {{ $('Get course').item.json.research }}\n\n##Modulinformation\n\nModulnavn: {{ $('Get module content').item.json.title }}\n\nModulbeskrivelse: {{ $('Get module content').item.json.description }}\n\nModulcontent: {{ $('Get module content').item.json.content }}\n\nAntal moduler i kurset: {{ $('Get no of modules and lessons').item.json.no_of_modules }}\n\n##Lektioner\nLektionstitel: {{ $('Loop Over Items').item.json.title }}\n\nAntal lektioner i modulet: {{ $('Get no of modules and lessons').item.json.no_of_lessons }}\n\nLektionsnummer i kurset: {{ $('Get lessons_id').item.json.position }}\n\nLektionsindhold: {{ $('Loop Over Items').item.json.content }}\n\n",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('Get prompt3').item.json.content }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          3616,
          1048
        ],
        "id": "465791b8-9b2f-47bc-b9f3-e989759395ff",
        "name": "Lesson Resources"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = '530d49da-32d4-4331-91d9-e4eafaa0e954'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2240,
          648
        ],
        "id": "921af7bc-67cc-4099-99dd-d3a078c033cb",
        "name": "Get prompt",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Get prompt').item.json.llm }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          2536,
          768
        ],
        "id": "6a59f8d2-10c1-407c-84de-76a88aaaf513",
        "name": "Open Router",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = '85fd53ab-4f6c-41ad-9439-c48d1b332d36'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2240,
          1048
        ],
        "id": "122f5d90-9b08-42ae-8d46-b083a1f87607",
        "name": "Get prompt1",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Get prompt1').item.json.llm }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          2536,
          1272
        ],
        "id": "1ec52c08-34d0-4528-9da7-79b560afd6c2",
        "name": "Open Router1",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = 'd331760c-779a-4d83-afef-7d4b8889fe59'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2816,
          1048
        ],
        "id": "a3f1a99d-9b2d-468d-a0fa-9d21cc806fee",
        "name": "Get prompt2",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Get prompt2').item.json.llm }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          3112,
          1272
        ],
        "id": "c8e190fb-94e6-428f-8f2a-77aa31f0ec43",
        "name": "Open Router2",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select v.prompt_id, v.content, v.llm\nfrom prompts p \njoin prompt_versions v on \n  p.id = v.prompt_id\n  and p.active_version_id = v.id\njoin prompt_course_relations pcr on \n  p.id = pcr.prompt_id\njoin course_types t on \n  pcr.course_type_id = t.id\nwhere t.name = '{{ $('When Executed by Another Workflow').item.json.course_type }}'\nand pcr.course_section_id = 'c79be916-7f6c-44b3-aa08-18554ffa694d'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3392,
          1048
        ],
        "id": "ee923c4b-3cce-40f2-a8e4-e4f1d86d5832",
        "name": "Get prompt3",
        "credentials": {
          "postgres": {
            "id": "RUVxlMmZvsZC2IGe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "={{ $('Get prompt2').item.json.llm }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          3688,
          1272
        ],
        "id": "b9c6d5d9-aff8-4e77-8b01-db5736cf9fd2",
        "name": "Open Router3",
        "credentials": {
          "openAiApi": {
            "id": "wLbV0srlBMaP36mY",
            "name": "Open Router"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "id-1",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.generationStage }}",
                "rightValue": "fase1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5a78d33f-5a45-4b40-aacb-0b329ad45a3a",
        "name": "Check if fase1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2016,
          676
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "lesson_translations",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "lesson_id",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.lesson_id }}"
              },
              {
                "keyName": "language_code",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.language_code }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "content",
                "fieldValue": "={{ $('Lesson Content Creator').item.json.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2816,
          648
        ],
        "id": "93ba6d35-c482-4a27-b933-04b92fde9aff",
        "name": "Update lessons translation1",
        "credentials": {
          "supabaseApi": {
            "id": "bvMVIJLed9p3sKxS",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get module",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get course": {
        "main": [
          [
            {
              "node": "Get course content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get course content": {
        "main": [
          [
            {
              "node": "Get module content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Check if fase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          []
        ]
      },
      "Get module": {
        "main": [
          [
            {
              "node": "Get course",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get module content": {
        "main": [
          [
            {
              "node": "Get no of modules and lessons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get lessons_id": {
        "main": [
          [
            {
              "node": "Get lessons_title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get lessons_title": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get no of modules and lessons": {
        "main": [
          [
            {
              "node": "Get lessons_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson videotekst creator": {
        "main": [
          []
        ]
      },
      "Update lessons translation": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          []
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          []
        ]
      },
      "Lesson Exercises Creator": {
        "main": [
          [
            {
              "node": "Get prompt2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson Content Creator": {
        "main": [
          [
            {
              "node": "Update lessons translation1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson Reflection Questions": {
        "main": [
          [
            {
              "node": "Get prompt3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson Resources": {
        "main": [
          [
            {
              "node": "Update lessons translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get prompt": {
        "main": [
          [
            {
              "node": "Lesson Content Creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Open Router": {
        "ai_languageModel": [
          [
            {
              "node": "Lesson Content Creator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get prompt1": {
        "main": [
          [
            {
              "node": "Lesson Exercises Creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Open Router1": {
        "ai_languageModel": [
          [
            {
              "node": "Lesson Exercises Creator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get prompt2": {
        "main": [
          [
            {
              "node": "Lesson Reflection Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Open Router2": {
        "ai_languageModel": [
          [
            {
              "node": "Lesson Reflection Questions",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get prompt3": {
        "main": [
          [
            {
              "node": "Lesson Resources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Open Router3": {
        "ai_languageModel": [
          [
            {
              "node": "Lesson Resources",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Check if fase1": {
        "main": [
          [
            {
              "node": "Get prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get prompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update lessons translation1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Flemming Berthelsen",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-03-18T13:45:14.553Z",
      "createdAt": "2025-03-18T13:45:14.553Z",
      "id": "6pOUCPP24FxgjbZJ",
      "name": "Kursus"
    }
  ]
}