utilco/pdf2markdown.json
{
  "createdAt": "2025-09-05T14:47:42.120Z",
  "updatedAt": "2025-09-07T04:44:15.000Z",
  "id": "2VbmlgICB1scexQk",
  "name": "pdf2markdown",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "amount": 30
      },
      "id": "b1ce6701-7e9b-4118-8321-4ae132dcc4d5",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -672,
        -96
      ],
      "webhookId": "a0518843-31f8-44f9-bd8e-1189e16de0f1",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {}
      },
      "id": "c20ed780-93f3-4421-9be9-e7eda6161506",
      "name": "Upload_doc",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -896,
        -96
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "furvVw3yB0ddQLfT",
          "name": "Llamaindex Bearer"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7a07aec1-fc5f-4b76-94d9-6fa8f509ac8e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS"
            }
          ]
        },
        "options": {}
      },
      "id": "dcadb1a3-e689-462f-b32b-d4ed7222499c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        -160
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "Upload file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": "pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "e94637cc-0b3d-4027-a825-008949159dd2",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1120,
        -96
      ],
      "webhookId": "5d1027e0-2885-4436-840f-a0e95cde60a2",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "0d5c7f22-d11b-4877-a362-986410b24580",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        0,
        16
      ],
      "webhookId": "8da5da31-1ebd-4c82-8c6a-476d5d277cdd",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Upload_doc').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1f95e7ac-cc6b-4887-b877-4ea807855bb4",
      "name": "Status Verification",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -448,
        -96
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "furvVw3yB0ddQLfT",
          "name": "Llamaindex Bearer"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1f2e4986-52a8-4b8f-ad11-e066024b021e",
      "name": "Content extraction",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        -208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "furvVw3yB0ddQLfT",
          "name": "Llamaindex Bearer"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        224,
        -208
      ],
      "id": "f4f899a1-8a19-44ea-9c99-7e821ba0207c",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Wait1').item.json.request_check_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "30ee483a-eee2-41a5-87c9-da478a2fc5c0",
      "name": "Get Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        432,
        576
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CDnA62zdXmFpBWGu",
          "name": "datalab"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.datalab.to/api/v1/marker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_pages",
              "value": "120"
            },
            {
              "name": "use_llm",
              "value": "true"
            },
            {
              "name": "output_format",
              "value": "markdown"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "19d49fdf-0327-4481-bf68-fa47a9957023",
      "name": "Send to Datalab API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -224,
        576
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CDnA62zdXmFpBWGu",
          "name": "datalab"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "d909779c-7898-4e65-b9da-e9e3e6c2a3dc",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        0,
        576
      ],
      "webhookId": "7b49cf9b-9859-4361-a8b8-2407d114d418",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        464
      ],
      "id": "9ace8066-b639-4426-802d-19071f1ba981",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c85917b-c2a8-4718-96d2-aa45bc85b853",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        512
      ],
      "id": "5a966a14-cf50-4068-b6fa-4a74656ce913",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        928
      ],
      "id": "2fc5283d-ef85-44c1-9cdc-e53f38e0d624",
      "name": "Wait3",
      "webhookId": "cfc0aa35-c1f3-428b-97e1-b3daa041e375"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        656
      ],
      "id": "2347815a-e0a3-4893-879f-605ea0f5ac10",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1a47gI905tdk_BZH0PFQS7eD1B6_sJAkc",
            "mode": "list",
            "cachedResultName": "pdf convert",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a47gI905tdk_BZH0PFQS7eD1B6_sJAkc"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        656
      ],
      "id": "96dafc02-60e2-406f-bdde-0e92f49e31e2",
      "name": "Get pdf convert",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iqKibuWvWktI99Br",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        656
      ],
      "id": "065af68f-77e2-4951-bb56-e44a253ac999",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7bc98dd2-fbac-452d-bfe5-6c9e4b9c2abb",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        576
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iqKibuWvWktI99Br",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('If1').item.json.markdown }}",
        "name": "={{ $('Get pdf convert').item.json.originalFilename.replace(/\\.pdf$/i, '.txt') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qsc4AGYL_CRyqS9z6_CdiTr_SJneHzvl",
          "mode": "list",
          "cachedResultName": "txt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qsc4AGYL_CRyqS9z6_CdiTr_SJneHzvl"
        },
        "options": {}
      },
      "id": "37e3c369-db5e-4422-acf0-efb7eca11821",
      "name": "upload txt fil",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        656
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iqKibuWvWktI99Br",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc2fe6c1-6f19-4623-9a90-21c00e0284bc",
              "name": "request_check_url",
              "value": "{{ $json.request_check_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        576
      ],
      "id": "e3525b7d-77c6-46d4-a502-e7b28ba36a0d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Datalab - bedst. Man får 5 usd gratis og derefter 25 usd pr md"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        464
      ],
      "id": "50d9976c-5cf9-4453-830a-8f1dd15e912a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Llamaindex\nOgså god, men sprang afnist over i **An Anatomy**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -304
      ],
      "id": "0ca08115-4541-40f4-b292-06203aae85d0",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Content extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Status Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload_doc": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload_doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Verification": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content extraction": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Datalab API": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Markdown": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get pdf convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pdf convert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send to Datalab API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "upload txt fil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload txt fil": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "File": [
            {
              "filename": "Invoice-5A33EB92-0005.pdf",
              "mimetype": "application/pdf",
              "size": 40259
            }
          ],
          "submittedAt": "2025-09-05T17:04:15.452+02:00",
          "formMode": "production"
        }
      }
    ]
  },
  "versionId": "1382c5c7-9af8-4a74-aa7d-f6e3043f303f",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-05T14:47:42.125Z",
      "updatedAt": "2025-09-05T14:47:42.125Z",
      "role": "workflow:owner",
      "workflowId": "2VbmlgICB1scexQk",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "tags": []
}