utilco/PESTLE rapport.json
{
  "createdAt": "2025-10-13T16:42:29.128Z",
  "updatedAt": "2025-10-14T06:45:13.000Z",
  "id": "rhKuy3BLp0x2h1v0",
  "name": "PESTLE rapport",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bcd96d23-46aa-4f5c-8917-c8fbbe3d16db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1479123a-8499-4848-bc41-2379b012f599",
              "name": "org_full",
              "value": "VEKS – Vestegnens Kraftvarmeselskab I/S",
              "type": "string"
            },
            {
              "id": "fb809224-4c55-49b2-b0c0-8e0f5daff4c1",
              "name": "org_short",
              "value": "VEKS",
              "type": "string"
            },
            {
              "id": "39480657-2513-42a9-9128-199afbc9a96d",
              "name": "geo_primary",
              "value": "Danmark og EU",
              "type": "string"
            },
            {
              "id": "0060a72c-dde5-456a-8eda-6a6e3591691f",
              "name": "geo_secondary",
              "value": "Norden (når relevant)",
              "type": "string"
            },
            {
              "id": "2de7a264-a69c-4b7c-a43d-ec1f6dc0b88a",
              "name": "time_horizons",
              "value": "0–2 år, 3–5 år, 6–10+ år",
              "type": "string"
            },
            {
              "id": "545f8a81-de6a-466b-8f0a-64c7391b4b88",
              "name": "focus",
              "value": "Energi- og varmeforsyning, affald‑til‑energi, biomasse/alternativer, transmissionsnet, sektorkobling (el‑varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked og leverandørkæder, digital/cyber",
              "type": "string"
            },
            {
              "id": "2a120913-a8a3-4d68-a115-e9c348e1e2c0",
              "name": "kildesæt",
              "value": "Valgfri",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "572ae0df-fbe4-4e6a-9824-dd315ca1fe7b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af POLITICAL/Policy-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"P\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n1) EU- og dansk energi-/klimapolitik\n2) Forsyningssikkerhedspolitik\n3) Kommunale varmeplaner\n4) Statslige støtteordninger til fjernvarme\n5) Geopolitiske forhold for brændselsforsyning\n6) Internationale klimaaftaler relevant for fjernvarme\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        0
      ],
      "id": "b18bdcd1-8655-41e0-ae5f-2a48db0ecaf6",
      "name": "P"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "google/gemini-2.5-pro"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "cc4607a8-04a1-4843-a80f-bf082479fcc6",
      "name": "OpenRouter",
      "credentials": {
        "openAiApi": {
          "id": "wLbV0srlBMaP36mY",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"category\": \"P|Ec|S|T|L|Env\",\n  \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"],\n  \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"],\n  \"trends\": [\n    {\n      \"id\": \"slug-kort-unik\",\n      \"title\": \"Kort og præcis tendens-titel\",\n      \"analysis\": \"Objektiv analyse (drivere, hvad sker der) med 1–3 nøgletal/citater. Ingen anbefalinger.\",\n      \"consequence\": \"Eksterne implikationer for VEKS’ omverden (marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme). Ingen anbefalinger.\",\n      \"timing\": {\n        \"window\": \"0-2|3-5|6-10+|allerede-i-gang\",\n        \"dates\": [\"YYYY-MM\", \"YYYY-MM\"],\n        \"notes\": \"Evt. ikrafttrædelser eller milepæle\"\n      },\n      \"uncertainty\": \"lav|mellem|høj\",\n      \"evidence\": [\n        {\"type\": \"metric\", \"label\": \"fx CO2-pris\", \"value\": \"xx\", \"unit\": \"EUR/t\", \"date\": \"YYYY-MM\"},\n        {\"type\": \"quote\", \"text\": \"kort citat ≤25 ord\", \"source_id\": \"src1\"}\n      ],\n      \"sources\": [\n        {\n          \"id\": \"src1\",\n          \"source_org\": \"Forfatter/organisation\",\n          \"title\": \"Kildetitlen\",\n          \"month_year\": \"YYYY-MM\",\n          \"permalink\": \"https://…\",\n          \"publisher\": \"Udgiver (hvis anderledes)\",\n          \"notes\": \"Evt. metode/forbehold\"\n        }\n      ],\n      \"method_notes\": \"Kort om modstridende kilder/forbehold\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        224
      ],
      "id": "92fded70-dd3e-44c7-b704-af9dcf3da490",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af ECONOMIC-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"Ec\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n- Energipriser (el, gas, biomasse, affaldsgebyrer)\n- CO₂-priser og kvotesystemer\n- Inflation, renter og finansieringsomkostninger\n- CAPEX/OPEX-trends i fjernvarmesektoren\n- Leverandørkæder og flaskehalse\n- ESG-finansiering og grønne obligationer\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        944,
        0
      ],
      "id": "d72781e9-82d4-43fa-9664-43d52fbcb7e9",
      "name": "Ec"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        432
      ],
      "id": "6d0051d0-7a6e-4480-b9bc-9288c64c5b3b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Gvr9qL4I7djxEhHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af Social-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"S\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n- Forbruger- og borgeropfattelser af fjernvarme\n- Prisfølsomhed og accept af teknologier\n- Arbejdsmarked og kompetencemangel i energisektoren\n- Demografi og byudvikling på Vestegnen\n- Borgeres klimabevidsthed og adfærd\n- Social accept af affald-til-energi\n\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        0
      ],
      "id": "6dea02e5-7d88-4547-bec2-6255b17c2fc3",
      "name": "S"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af TECHNOLOGICAL-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"T\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n- Store varmepumper og geotermi\n- Spildvarme og overskudsvarme\n- Power-to-X koblinger\n- Digitalisering og optimering af fjernvarmenet\n- Fleksibilitet og varmelagring\n- Måling, overvågning og smart grid\n- Cybersikkerhed i kritisk infrastruktur\n\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1648,
        0
      ],
      "id": "c3cabe9a-a1ca-410a-9c76-c7197750bf92",
      "name": "T"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af LEGAL-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"L\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n- EU og dansk regulering af fjernvarmetariffer\n- Statsstøtteregler\n- Udbudsregler og koncessioner\n- Miljøkrav og affaldsdirektiver\n- EU-taksonomi og bæredygtighedsrapportering\n- CSRD og ESG-rapporteringskrav\n- Standarder og certificeringer\n\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2000,
        0
      ],
      "id": "5cb4c575-d48c-4ce3-b385-d3eaff396d64",
      "name": "L"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Opgave\nUdarbejd en evidensbaseret analyse af ENVIRONMENTAL-tendenser for VEKS – Vestegnens Kraftvarmeselskab I/S (transmissionsselskab for fjernvarme). Ingen anbefalinger.\n\nKategori og omfang\n- \"category\": \"Env\"\n- \"geo_scope\": [\"DK\",\"EU\",\"Nordic*\"]\n- \"time_horizons\": [\"0-2\",\"3-5\",\"6-10+\"]\n\nFokus (brug kun hvor kilderne er robuste; slå overlap sammen)\nFjernvarme/transmissionsnet, affald-til-energi (WtE), biomasse og alternativer, sektorkobling (el–varme), forsyningssikkerhed, regulering, finansiering/ESG, arbejdsmarked/leverandørkæder, digital/cyber.\n\nVejledende emner at dække (5–12 tendenser i alt)\n- Klimamål og CO₂-reduktionskrav\n- Emissionskrav for kraftvarmeværker\n- Biodiversitet og naturhensyn\n- Ressource- og affaldsstrømme\n- Vandforbrug og vandressourcer\n- Lokal miljøpåvirkning og luftkvalitet\n- Bæredygtig biomasse og certificering\n\n\nKrav til hver tendens\n- \"id\": unik slug i kebab-case (fx \"eu-rettsakter-for-fjernvarme\")\n- \"title\": kort og præcis\n- \"analysis\": objektiv, med 1–3 nøgletal/citater\n- \"consequence\": implikationer for marked, omkostninger, forsyningssikkerhed, adgang, compliance, finansiering, omdømme\n- \"timing\": udfyld \"window\"; angiv milepæle i \"dates\"/\"notes\" når muligt\n- \"uncertainty\": lav|mellem|høj + \"method_notes\" ved modstrid\n- \"evidence\": mindst én \"metric\" eller \"quote\" (quote ≤ 25 ord) med gyldigt \"source_id\"\n- \"sources\": mindst én kilde med \"month_year\" (YYYY-MM) og fungerende \"permalink\" til relevant indhold\n\nOutput\nReturnér KUN ét JSON-objekt nøjagtigt i det fælles schema (ingen ekstra felter).",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rolle og formål\nDu er en nøgtern research-analytiker, der udarbejder evidensbaserede analyser af eksterne tendenser inden for en angivet PESTLE-kategori. Ingen anbefalinger eller prioriteringer. Dansk sprog.\n\nKvalitetskrav\n- Brug aktuelle, troværdige kilder (myndigheder, regulering, branche/TSO/DSO, statistik, peer-review, anerkendte medier).\n- Hver tendens skal have mindst én kilde med forfatter/organisation, titel, måned/år og permalink, som returnerer relevant indhold.\n- Angiv usikkerhed (\"lav\",\"mellem\",\"høj\") og kort metodeforbehold ved modstrid/uklarheder.\n- Inkludér 1–3 evidenser pr. tendens i feltet \"evidence\" (bland gerne \"metric\" og \"quote\"). Citat ≤ 25 ord.\n- Slå overlappende tendenser sammen; undgå redundans.\n- 5–12 tendenser (færre er acceptabelt, hvis det er det robuste antal).\n- Maks ~300 ord pr. tendens (analysis + consequence).\n\nTjekliste (proces, ikke output): Verificér permalink, kildeautoritet, citatlængde, konsistens mellem evidence.source_id og sources.id, korrekt tidsvindue og datofor-mat (\"YYYY-MM\").\nReturnér KUN ét gyldigt JSON-objekt i ovenstående struktur."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2352,
        0
      ],
      "id": "a899a4f3-5138-426e-93cd-dcdd3c83d3e8",
      "name": "Env"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input:\nP_JSON:\n{{ JSON.stringify($(\"P\").item.json, null, 2) }}\n\n\nEc_JSON:\n{{ JSON.stringify($(\"Ec\").item.json, null, 2) }}\n\n\nS_JSON:\n{{ JSON.stringify($(\"S\").item.json, null, 2) }}\n\n\nT_JSON:\n{{ JSON.stringify($(\"T\").item.json, null, 2) }}\n\n\nL_JSON:\n{{ JSON.stringify($(\"L\").item.json, null, 2) }}\n\n\nEnv_JSON:\n{{ JSON.stringify($(\"Env\").item.json, null, 2) }}\n\n\nOpgave:\n1) Skab en rapport i Markdown med:\n   - Titel, kort kontekstlinje (formål, geografi, tidsrammer).\n   - **Indholdsfortegnelse** (ankerlinks).\n   - **Indledende overblik**: Én tabel med 5–10 nøgle-tendenser pr. PESTLE-kategori (kolonner: *Kategori*, *Tendens-titel*, *Tidshorisont*). Vælg de 5–10 pr. kategori ud fra styrke af evidens + relevans for fjernvarme/transmission/Affald-til-energi i DK/EU (ingen anbefalinger).\n   - **Sektioner P, Ec, S, T, L, Env**. For hver tendens, brug præcis denne skabelon og tekst (ikke JSON):\n\n     Tendens-titel: [kort og præcis]  \n     1) Analysen – hvad er tendensen? [Objektiv beskrivelse + drivere + 1–3 nøgletal eller korte citater]  \n     2) Konsekvens: [Eksterne implikationer for VEKS’ omverden/rammevilkår]  \n     3) Timing: [Allerede i gang? eller forventet fra år X; angiv 0–2 / 3–5 / 6–10+ år og konkrete måneder/år, hvis muligt]  \n     Kilder: [forfatter/organisation, titel, måned/år, permalink]  \n     Usikkerhed: [lav/mellem/høj]  \n     Metodeforbehold: [kort note om modstridende kilder/antagelser]\n\n2) Konsistenskontrol:\n   - Ingen anbefalinger, prioriteringer eller beslutningsforslag.\n   - Alle væsentlige påstande stammer fra inputkilderne; behold datoer.\n   - Tidsangivelser skal være absolutte (måned/år) når muligt; ellers tydelig periode.\n   - Hold hvert tendensafsnit ≤ ~300 ord (analysis+consequence).\n\n3) Lever KUN Markdown (ingen JSON).\n",
        "messages": {
          "messageValues": [
            {
              "message": "=Du er redaktør for en teknisk research-rapport. Du må KUN sammenstille og strukturere; ingen anbefalinger, prioriteringer eller “so what”.\nMålet: Saml de seks PESTLE-JSON inputs til en fuld rapport for {{ $('Edit Fields').item.json.org_full }}/{{ $('Edit Fields').item.json.org_short }}. Dansk, neutral, evidensbaseret tone.\nOutput: Struktureret Markdown med indholdsfortegnelse og et indledende overblik (tabel). Ingen løse JSON-udskrifter.\nKildepolitik: Bevar kilder fra input, inkl. forfatter/organisation, titel, måned/år, permalink. Hold citater korte (≤25 ord). Marker usikkerhed (lav/mellem/høj). Ved modstridende kilder: kombiner og kort forklar mulige grunde til afvigelse i “method_notes”.\nLængde: Maks ~300 ord pr. tendens (analysis+consequence).\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2704,
        0
      ],
      "id": "541f1cbb-e2a8-4494-941b-2f6b5ca0e0e0",
      "name": "Editor"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3056,
        0
      ],
      "id": "5dbfec20-1193-475b-9bd6-91b7d4aee0f3",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "P",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "P",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ec",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "S",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "T",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "L",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Env",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "P",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Ec",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "S",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "T",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "L",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Env",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "P": {
      "main": [
        [
          {
            "node": "Ec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ec": {
      "main": [
        [
          {
            "node": "S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S": {
      "main": [
        [
          {
            "node": "T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T": {
      "main": [
        [
          {
            "node": "L",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L": {
      "main": [
        [
          {
            "node": "Env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Env": {
      "main": [
        [
          {
            "node": "Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fbbdaca-66ca-448c-b5d2-ab345b914d34",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-13T16:42:29.132Z",
      "updatedAt": "2025-10-13T16:42:29.132Z",
      "role": "workflow:owner",
      "workflowId": "rhKuy3BLp0x2h1v0",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "tags": []
}