utilco/RAG.json
{
  "updatedAt": "2025-02-27T11:56:20.000Z",
  "createdAt": "2025-02-27T11:03:13.464Z",
  "id": "Uev1ksCjzxMAeyTV",
  "name": "RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "9449f854-9f09-4b42-b0bb-1f380190eb70",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1420,
        380
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iqKibuWvWktI99Br",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2120,
        360
      ],
      "id": "64a8b169-2d46-4c4f-87e7-5189d222d32d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "city_id",
                "value": "={{ $('Set city_id').item.json.city_id }}"
              },
              {
                "name": "file_type",
                "value": "binary"
              }
            ]
          }
        }
      },
      "id": "589f70b4-f586-42c1-96c6-57c9d37a6dbf",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        480,
        1020
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 400,
        "options": {}
      },
      "id": "a92ab4f8-8166-4010-ae50-62c0566f3750",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        520,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "1063eb7f-0552-485b-9310-ad2b7b11aa19",
      "name": "binary supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        320,
        800
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
          "mode": "list",
          "cachedResultName": "RAG Storage",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1340,
        1060
      ],
      "id": "a3e10862-85b5-4a0f-9296-71bbce6b1314",
      "name": "Move to RAG Storage2",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1660,
        360
      ],
      "id": "fd327589-c51d-448e-9c7d-e78d344f7a2e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT",
          "mode": "list",
          "cachedResultName": "RAG Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GEjy6Fo2kMWj02gO9NDo9hKuYWr3eyNT"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        980
      ],
      "id": "5a889fc1-a9c8-4af5-b7b3-ec2158f32763",
      "name": "Move to RAG Unprocessed",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b8b7b6-d4b9-48e6-9a2e-60da64f7997c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        800
      ],
      "id": "433bf687-71a6-45f3-a411-b507100e24ab",
      "name": "If isempty"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "7ee0a34c-a080-478f-a6c0-2d4ee70c0334",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -440,
        420
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "65eb738c-3049-4542-8fcb-7774ee6441b5",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -240,
        420
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a5039400-ae20-435a-a284-c82f4e941b94",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -640,
        80
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "3da6238e-0fc5-43b1-abba-3c89e5fc3159",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -640,
        420
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        440,
        460
      ],
      "id": "1eab3f32-cb91-459c-a9ba-0f287091eacb",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        80,
        460
      ],
      "id": "92bca5d9-362f-4001-a05e-1efae431399e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Gvr9qL4I7djxEhHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Get RAG Inbox').item.json.id }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('Get RAG Inbox').item.json.modifiedTime }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Get RAG Inbox').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Loop Over Items').item.json.mimeType}}"
              }
            ]
          }
        }
      },
      "id": "ce920c68-2c90-49e1-8b62-f1486af39372",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "c24c299c-6ea9-444d-b67f-30a2a04c796c",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -640,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b1a04698-0937-41b3-9290-df8048b87893"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "96518691-4240-4a88-af65-54dd818482e6",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1220,
        300
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "a84b8772-dbf3-41b7-94d9-b72d3f52f533",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        180,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "10NqsoOsBQMKml43nYcyMvRqqbpfTOn4y",
            "mode": "list",
            "cachedResultName": "Baggrundsviden",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10NqsoOsBQMKml43nYcyMvRqqbpfTOn4y"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1900,
        360
      ],
      "id": "894b3dd2-2738-460e-ba59-76208afcadce",
      "name": "Get RAG Inbox",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iqKibuWvWktI99Br",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cleanText = (text) => {\n  if (!text) return '';\n  \n  return text\n    // Remove null characters and their escape sequences\n    .replace(/\\u0000/g, '')\n    .replace(/\\\\u0000/g, '')\n    // Remove non-ASCII characters and their escape sequences\n    .replace(/[^\\x00-\\x7F]/g, '')\n    .replace(/\\\\u[\\dA-Fa-f]{4}/g, '')\n    // Remove multiple spaces\n    .replace(/\\s+/g, ' ')\n    // Remove multiple newlines\n    .replace(/\\n+/g, '\\n')\n    // Trim whitespace\n    .trim();\n};\n\nreturn items.map(item => {\n  if (item.json && item.json.text) {\n    item.json.text = cleanText(item.json.text);\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "de396571-4761-4517-a60a-274c174ca97b",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75732e4a-c551-43ef-966b-618b20a2ab5f",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        80
      ],
      "id": "dc33346a-1437-4f20-b684-f9a145261dec",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ",
          "mode": "list",
          "cachedResultName": "RAG Storage",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ib0TYxRfSjqIFEWBxf4sN6xiZ2AHl6GJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        140
      ],
      "id": "86859101-a05b-4492-ac4f-ba04d68649e5",
      "name": "Move to RAG Storage",
      "alwaysOutputData": false,
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        -360
      ],
      "id": "076e48f1-c9ae-435f-90c5-54b532df9293",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Gvr9qL4I7djxEhHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Dokumenter i pdf format om Tavira's historie",
        "topK": 40
      },
      "id": "b138a1c2-f15a-4bb5-908e-19d375a98cc4",
      "name": "Retrieve Documents1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -100,
        -580
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rolle\nDu er en hjælpsom assistent der kommunikerer med brugeren på dansk.\nDu kan afdække hvad vi har i værktøjet user_documents\n\n# Regler\nDu skal kun bruge de oplysninger der står i user_documents når du bliver spurgt om et emne. Du må ikke videregive din egen viden.\n"
        }
      },
      "id": "7df99049-cda0-4f6d-b717-e35f04cc7f8e",
      "name": "RAG AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -540,
        -840
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "335ec0be-07cf-4e2a-b07c-2eac2f4a8f3b",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -280,
        -440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "bvMVIJLed9p3sKxS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -980,
        -860
      ],
      "id": "10445abe-df88-4010-9030-fce2e58a54e1",
      "name": "When chat message received",
      "webhookId": "b183bf9a-35ef-4ce3-aecd-34fbd3c9067c"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -980,
        -640
      ],
      "id": "64cc22b4-9977-4e46-8a69-5299e567f9f4",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Gvr9qL4I7djxEhHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -840,
        -440
      ],
      "id": "afad0294-c09c-4e18-8c9a-53fcc35f1dd4",
      "name": "Window Buffer Memory"
    }
  ],
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get RAG Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "binary supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "binary supabase": {
      "main": [
        [
          {
            "node": "If isempty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to RAG Storage2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If isempty": {
      "main": [
        [
          {
            "node": "Move to RAG Unprocessed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to RAG Storage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "binary supabase",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore1": {
      "main": [
        [
          {
            "node": "Move to RAG Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Inbox": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Move to RAG Storage": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Get RAG Inbox": [
      {
        "json": {
          "kind": "drive#file",
          "fileExtension": "pdf",
          "copyRequiresWriterPermission": false,
          "md5Checksum": "69aead929aa75a190c3c94a8e73f2cbf",
          "writersCanShare": true,
          "viewedByMe": true,
          "mimeType": "application/pdf",
          "parents": [
            "10NqsoOsBQMKml43nYcyMvRqqbpfTOn4y"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNef_hgPigiF960kSSJ4e-nTtagFZLqc1Rxsj-O36pofkeOC6aaaOS_TFKOVkyxQKvu-toOCARt-JrXo4JlQ6DMLJ05zq_9G7vnhRfuvHVQ7mw=s220",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "shared": false,
          "lastModifyingUser": {
            "displayName": "Christian Schmidt Berthelsen",
            "kind": "drive#user",
            "me": true,
            "permissionId": "12380488365591887009",
            "emailAddress": "utilco@utilco.dk",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJz45MLmgZrGEiva4CUjii1vnaXJbqdDTHcSzHIuXcJEl_GDQ=s64"
          },
          "owners": [
            {
              "displayName": "Christian Schmidt Berthelsen",
              "kind": "drive#user",
              "me": true,
              "permissionId": "12380488365591887009",
              "emailAddress": "utilco@utilco.dk",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJz45MLmgZrGEiva4CUjii1vnaXJbqdDTHcSzHIuXcJEl_GDQ=s64"
            }
          ],
          "headRevisionId": "0B6Uiv4l7ZfmdWnU5aCtoTmFXWlpVeFBhTzVWaGN4MzNHK0s0PQ",
          "webViewLink": "https://drive.google.com/file/d/1-KBpeHiiMptAK3vTIPVmTsZmOn_iqXYB/view?usp=drivesdk",
          "webContentLink": "https://drive.google.com/uc?id=1-KBpeHiiMptAK3vTIPVmTsZmOn_iqXYB&export=download",
          "size": "1759522",
          "viewersCanCopyContent": true,
          "permissions": [
            {
              "id": "12380488365591887009",
              "displayName": "Christian Schmidt Berthelsen",
              "type": "user",
              "kind": "drive#permission",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJz45MLmgZrGEiva4CUjii1vnaXJbqdDTHcSzHIuXcJEl_GDQ=s64",
              "emailAddress": "utilco@utilco.dk",
              "role": "owner",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "hasThumbnail": true,
          "spaces": [
            "drive"
          ],
          "id": "1-KBpeHiiMptAK3vTIPVmTsZmOn_iqXYB",
          "name": "DS_ISO 55001_2024.pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "createdTime": "2025-02-27T10:21:39.062Z",
          "modifiedTime": "2024-07-23T16:34:21.000Z",
          "modifiedByMeTime": "2024-07-23T16:34:21.000Z",
          "viewedByMeTime": "2025-02-27T10:21:39.062Z",
          "quotaBytesUsed": "1759522",
          "version": "3",
          "originalFilename": "DS_ISO 55001_2024.pdf",
          "ownedByMe": true,
          "fullFileExtension": "pdf",
          "isAppAuthorized": false,
          "capabilities": {
            "canChangeViewersCanCopyContent": true,
            "canEdit": true,
            "canCopy": true,
            "canComment": true,
            "canAddChildren": false,
            "canDelete": true,
            "canDownload": true,
            "canListChildren": false,
            "canRemoveChildren": false,
            "canRename": true,
            "canTrash": true,
            "canReadRevisions": true,
            "canChangeCopyRequiresWriterPermission": true,
            "canMoveItemIntoTeamDrive": true,
            "canUntrash": true,
            "canModifyContent": true,
            "canMoveItemOutOfDrive": true,
            "canAddMyDriveParent": false,
            "canRemoveMyDriveParent": true,
            "canMoveItemWithinDrive": true,
            "canShare": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canAcceptOwnership": false,
            "canReadLabels": false,
            "canModifyLabels": false,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canRemoveContentRestriction": false,
            "canDisableInheritedPermissions": false,
            "canEnableInheritedPermissions": true
          },
          "thumbnailVersion": "1",
          "modifiedByMe": true,
          "permissionIds": [
            "12380488365591887009"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "sha1Checksum": "6304f2ed5c3d01e65a7e05d2726597ef68bda6c3",
          "sha256Checksum": "6318b4bee32718af7d2af69ca612429844b25f1d2f54875ffc423de92336cf76",
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "versionId": "b893373b-ad93-4e21-a8fc-608290a28b6b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-02-27T11:03:13.468Z",
      "createdAt": "2025-02-27T11:03:13.468Z",
      "role": "workflow:owner",
      "workflowId": "Uev1ksCjzxMAeyTV",
      "projectId": "SFLNAzqJIfhKMhJx"
    }
  ],
  "activeVersion": null,
  "tags": []
}